# ITNPBD2 Practical exercises. Session 6 Files and Remote Data

By the end of this session, you will be able to:
- Read and write local files in a variety of formats
- Use the requests library to access data over the internet
- Extract part of a web page contents

# 6.3 Local File Processing

The first task is simple, just execute the following cell to have access to all of the __os__ package's functionality

In [1]:
import os

## The os package 
The following tasks will all involve the os package 

Now, using the __os__ package, print the directory/folder in which this file is being executed

In [3]:
# Write your code here
os.getcwd()

'C:\\Users\\moa00512\\OneDrive - University of Stirling\\Jupyter\\Session6'

The __os.path__ module implements a function to expand the initial components of the __user__ directory  

```Python
os.path.expanduser('~')
```
execute the following cell to see what the absolute path to your **home** directory is

In [4]:
# Write your code here
os.path.expanduser('~')

'C:\\Users\\moa00512'

Now use *expanduser* again with the following string argument and see what it returns  
````
'~/Downloads'
````

In [5]:
# Write your code here
os.path.expanduser('~/Downloads')

'C:\\Users\\moa00512/Downloads'

Following on can you prove that the user directory is a directory?

In [8]:
# Write your code here
os.path.isdir(os.path.expanduser('~/Downloads'))

True

Check if there's a file called __session6_exercise.txt__ in the same folder as this notebook.  
Use relative paths and don't manually write the full path to the current folder.

In [13]:
# Write your code here
os.path.exists('session6_exercise.txt')

False

And, can you prove the following statement as __either__ **True or False**?:
- There is a file called __dummy_test.txt__ in a folder called Documents in your home directory

Do not *manually* enter the path, the string or strings you use can only contain one or more of the following:  
````
'~'
'Documents'
'dummy_test.txt'
````
you can add at most 2 occurrences of either back- or forwardslash (depending on your operating systems preferences) *Try to use none*

In [24]:
# Write your code here
os.path.isfile(os.path.join(os.path.expanduser('~'),'Documents',"dummy_test.txt"))

False

Can you find how many __.txt__ files are in your user directory?  
Use any __os__ function/s you want and only the string arguments '~' and '.txt' to count how many .txt files are contained in your user directory and all its subdirectories.

In [29]:
# Write your code here
count = 0
for base, dirs, fids in os.walk(os.path.expanduser('~')):
    for f in fids:
        if f.endswith('.txt'):
            count += 1
print(f'there are {count} .txt files')

there are 3077 .txt files

## Files
In the following tasks you are expected to use __open__, __with__, and any __os__ functionality that you find useful.

### Writing to files
Write a single line in a file called __session6_exercise.txt__, located in the same folder as this notebook.  
Start an empty file and add the following string:  
*This is the first line in the file*  

Make sure the file is closed when the cell has finished executing.

Then open the file in a separate text editor of your choice to see if it worked.

In [40]:
# Write your code here
with open("session6_exercise.txt", "w") as fid:
    fid.write("This is the first line in the file\n")

Now add another line in the same file (__session6_exercise.txt__)  
This line should be:  
*This is the second line in the file*

So, the file should now contain:
```
This is the first line in the file
This is the second line in the file
```
Again, make sure the file is closed when the cell has finished executing.  
The following cell should only write the second line to the file.  Do not rewrite the first line.

In [41]:
# Write your code here
with open("session6_exercise.txt", "a") as fid:
    fid.write("This is the second line in the file\n")

Again with the same file (__session6_exercise.txt__)  
Now use a for loop to add 10 new lines to the file.  
- Keep the two lines from before
- The lines should be the following sequence: 
```
This is me counting and the number is 1
This is me counting and the number is 2
...
This is me counting and the number is 10
```
Obviously replace the the dots (...) with the lines in between

In [42]:
# Write your code here
with open("session6_exercise.txt", "a") as fid:
    for i in range(1,11):
        fid.write(f'This is me counting and the number is {i}\n')

### Reading from files
Now you'll undertake a series of tasks with the file from before (__session6_exercise.txt__)  
Each task will require you to open and close the file each time.

1) First task is to read the file's content into a single string variable and print the first 100 __characters__

In [55]:
# Write your code here
with open('session6_exercise.txt','r') as fid:
    text = fid.read()
print(text[:100])

This is the first line in the file
This is the second line in the file
This is me counting and the n

2) Second task is to read the file's content into a list of strings, where each string is a single line of the file. Display the first 4 lines

*Optionally, remove newline characters from each line

In [91]:
# Write your code here
with open('session6_exercise.txt','r') as fid:
    line = []
    for i in fid:
        line.append(i.strip())
print(line[:4])

['This is the first line in the file', 'This is the second line in the file', 'This is me counting and the number is 1', 'This is me counting and the number is 2']

3) Read the whole file into a list of strings, where each string is a separate word or number  
Display the first 10 words

In [99]:
# Write your code here
with open('session6_exercise.txt','r') as fid:
    wordsAndNum = fid.read().split()
print(wordsAndNum[:10])

['This', 'is', 'the', 'first', 'line', 'in', 'the', 'file', 'This', 'is']

4) Using the list of words from previous task:
- count the words
- count the number of unique words

In [104]:
# Write your code here
print(len(wordsAndNum))
unique = set(wordsAndNum)
print(len(unique))

196
22

# 6.4 File formats

## 6.4a CSV file parsing

In [105]:
# Run this cell to load the csv module in memory
import csv

### Writing
You will now undertake a couple of tasks for writing data into a csv file.  
Both tasks will result in identical file contents.  
Start by executing the following cell to create the data variables that will be written to the file

In [106]:
fieldnames = [f'col_{i}' for i in range(1,11) if i not in [3,8]]
dat_dicts = [dict([(f'col_{i}','"X"' if i==j else i*j) 
                   for i in range(1,11)]) 
             for j in range(1,11) if j not in [3,8]]
dat_lists = [list(d.values()) for d in dat_dicts]
display(fieldnames,dat_lists)
display(dat_dicts)

['col_1', 'col_2', 'col_4', 'col_5', 'col_6', 'col_7', 'col_9', 'col_10']

[['"X"', 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, '"X"', 6, 8, 10, 12, 14, 16, 18, 20],
 [4, 8, 12, '"X"', 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, '"X"', 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, '"X"', 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, '"X"', 56, 63, 70],
 [9, 18, 27, 36, 45, 54, 63, 72, '"X"', 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, '"X"']]

[{'col_1': '"X"',
  'col_2': 2,
  'col_3': 3,
  'col_4': 4,
  'col_5': 5,
  'col_6': 6,
  'col_7': 7,
  'col_8': 8,
  'col_9': 9,
  'col_10': 10},
 {'col_1': 2,
  'col_2': '"X"',
  'col_3': 6,
  'col_4': 8,
  'col_5': 10,
  'col_6': 12,
  'col_7': 14,
  'col_8': 16,
  'col_9': 18,
  'col_10': 20},
 {'col_1': 4,
  'col_2': 8,
  'col_3': 12,
  'col_4': '"X"',
  'col_5': 20,
  'col_6': 24,
  'col_7': 28,
  'col_8': 32,
  'col_9': 36,
  'col_10': 40},
 {'col_1': 5,
  'col_2': 10,
  'col_3': 15,
  'col_4': 20,
  'col_5': '"X"',
  'col_6': 30,
  'col_7': 35,
  'col_8': 40,
  'col_9': 45,
  'col_10': 50},
 {'col_1': 6,
  'col_2': 12,
  'col_3': 18,
  'col_4': 24,
  'col_5': 30,
  'col_6': '"X"',
  'col_7': 42,
  'col_8': 48,
  'col_9': 54,
  'col_10': 60},
 {'col_1': 7,
  'col_2': 14,
  'col_3': 21,
  'col_4': 28,
  'col_5': 35,
  'col_6': 42,
  'col_7': '"X"',
  'col_8': 56,
  'col_9': 63,
  'col_10': 70},
 {'col_1': 9,
  'col_2': 18,
  'col_3': 27,
  'col_4': 36,
  'col_5': 45,
  'col_6': 54,
  'col_7': 63,
  'col_8': 72,
  'col_9': '"X"',
  'col_10': 90},
 {'col_1': 10,
  'col_2': 20,
  'col_3': 30,
  'col_4': 40,
  'col_5': 50,
  'col_6': 60,
  'col_7': 70,
  'col_8': 80,
  'col_9': 90,
  'col_10': '"X"'}]

1) Using csv.writer create a file named __symmetric.csv__ which contains data from one of the data variables we just created.  
The file's content should look like this:
```
"col_1","col_2","col_3","col_4","col_5","col_6","col_7","col_8","col_9","col_10"
"X",2,3,4,5,6,7,8,9,10
2,"X",6,8,10,12,14,16,18,20
3,6,"X",12,15,18,21,24,27,30
4,8,12,"X",20,24,28,32,36,40
5,10,15,20,"X",30,35,40,45,50
6,12,18,24,30,"X",42,48,54,60
7,14,21,28,35,42,"X",56,63,70
8,16,24,32,40,48,56,"X",72,80
9,18,27,36,45,54,63,72,"X",90
10,20,30,40,50,60,70,80,90,"X"
```
*hint: You can make this task a whole lot easier if you familiarise yourself with the arguments: quotechar and quoting https://docs.python.org/3/library/csv.html#csv.writer https://docs.python.org/3/library/csv.html#csv-fmt-params

*recommendation: It is recommended to use __newline=''__ when opening files for csv read and write functions. See here: https://docs.python.org/3.9/library/csv.html#examples and here: https://docs.python.org/3/library/functions.html#open-newline-parameter

In [110]:
# Write your code here
with open('symmetric.csv','w',newline='') as csv_fid:
    csv_writer = csv.writer(csv_fid, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    csv_writer.writerow(fieldnames)
    csv_writer.writerows(dat_lists)

2) Now use csv.DictWriter to create the same file with the same content

In [ ]:
# Write your code here
with open('symmetric.csv','w',newline='') as csv_fid:
    csv_writer = csv.DictWriter(csv_fid, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONNUMERIC, extrasaction='ignore',
                               fieldnames=fieldnames)
    csv_writer.writeheader()
    csv_writer.writerows(dat_dicts)

### Reading
Use __csv.reader__ to parse the file from before (__session6_exercise.csv__) into a 2 dimensional list  
Separate the header into its own variable and convert numeric values into numeric types

Print out the header and the data

In [126]:
# Write your code here 
with open("session6_exercise.csv", 'r', newline='') as csv_fid:
    csv_reader = csv.reader(csv_fid, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    header = next(csv_reader)
    dat = [row for row in csv_reader]
display(header, dat)

['col_1', 'col_2', 'col_4', 'col_5', 'col_6', 'col_7', 'col_9', 'col_10']

[['X', 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0],
 [2.0, 'X', 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0],
 [4.0, 8.0, 12.0, 'X', 20.0, 24.0, 28.0, 32.0, 36.0, 40.0],
 [5.0, 10.0, 15.0, 20.0, 'X', 30.0, 35.0, 40.0, 45.0, 50.0],
 [6.0, 12.0, 18.0, 24.0, 30.0, 'X', 42.0, 48.0, 54.0, 60.0],
 [7.0, 14.0, 21.0, 28.0, 35.0, 42.0, 'X', 56.0, 63.0, 70.0],
 [9.0, 18.0, 27.0, 36.0, 45.0, 54.0, 63.0, 72.0, 'X', 90.0],
 [10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0, 'X']]

Now repeat the same with __csv.DictReader__ but this time, store the content of the same file in a list of dictionary type objects.

*Dictionary type objects are any kind of object that stores the data as key, value pairs (e.g. OrderedDict for older versions of Python)

In [128]:
# Write your code here
with open("session6_exercise.csv", 'r', newline='') as csv_fid:
    csv_reader = csv.DictReader(csv_fid, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    header = csv_reader.fieldnames
    dat = [row for row in csv_reader]
display(header, dat)

['col_1', 'col_2', 'col_4', 'col_5', 'col_6', 'col_7', 'col_9', 'col_10']

[{'col_1': 'X',
  'col_2': 2.0,
  'col_4': 3.0,
  'col_5': 4.0,
  'col_6': 5.0,
  'col_7': 6.0,
  'col_9': 7.0,
  'col_10': 8.0,
  None: [9.0, 10.0]},
 {'col_1': 2.0,
  'col_2': 'X',
  'col_4': 6.0,
  'col_5': 8.0,
  'col_6': 10.0,
  'col_7': 12.0,
  'col_9': 14.0,
  'col_10': 16.0,
  None: [18.0, 20.0]},
 {'col_1': 4.0,
  'col_2': 8.0,
  'col_4': 12.0,
  'col_5': 'X',
  'col_6': 20.0,
  'col_7': 24.0,
  'col_9': 28.0,
  'col_10': 32.0,
  None: [36.0, 40.0]},
 {'col_1': 5.0,
  'col_2': 10.0,
  'col_4': 15.0,
  'col_5': 20.0,
  'col_6': 'X',
  'col_7': 30.0,
  'col_9': 35.0,
  'col_10': 40.0,
  None: [45.0, 50.0]},
 {'col_1': 6.0,
  'col_2': 12.0,
  'col_4': 18.0,
  'col_5': 24.0,
  'col_6': 30.0,
  'col_7': 'X',
  'col_9': 42.0,
  'col_10': 48.0,
  None: [54.0, 60.0]},
 {'col_1': 7.0,
  'col_2': 14.0,
  'col_4': 21.0,
  'col_5': 28.0,
  'col_6': 35.0,
  'col_7': 42.0,
  'col_9': 'X',
  'col_10': 56.0,
  None: [63.0, 70.0]},
 {'col_1': 9.0,
  'col_2': 18.0,
  'col_4': 27.0,
  'col_5': 36.0,
  'col_6': 45.0,
  'col_7': 54.0,
  'col_9': 63.0,
  'col_10': 72.0,
  None: ['X', 90.0]},
 {'col_1': 10.0,
  'col_2': 20.0,
  'col_4': 30.0,
  'col_5': 40.0,
  'col_6': 50.0,
  'col_7': 60.0,
  'col_9': 70.0,
  'col_10': 80.0,
  None: [90.0, 'X']}]

### Pretending we have big data
This task requires the use of a number coding solutions from previous sessions  
__It is a bit advanced and entirely optional__

The file __abalone.csv__ contains data from the Abalone ML dataset, which is available from here:  
https://archive.ics.uci.edu/ml/datasets/Abalone

We are going to pretend that it is a massive dataset and display a calculated value without reading the whole thing into memory. That is, we are going to treat it as a stream. Use as little memory as possible.

The calculated value is the __running average__ of the *height* without dropping any values. See a definition of the running average here: https://en.wikipedia.org/wiki/Moving_average

First try to accomplish this using __csv.reader__ and then __csv.DictReader__\
The first four values displayed should be:\
0.095\
0.0925\
0.10666666666666667\
0.11125

In [ ]:
# Write your csv.reader code here

In [ ]:
# Write your csv.DictReader code here

## 6.4b JSON file parsing

In [137]:
# Execute this cell to get access to the json module
import json

### Reading json data into memory
Accompanying this notebook was a file called session6_people.json it is not a well formed json file as in you won't be able to load the whole thing by using json.load(). Instead you will have to read it line by line and use json.loads()

1) Read the data from __session6_people.json__ into a list of dictionary objects

*open the file in a text editor before coding your solution to see what the file contains

In [149]:
# Write your code here
with open("session6_people.json",'r') as json_fid:
    listf = []
    for line in json_fid:
        line = json.loads(line)
        line = {'name':line[0], 'age':line[1]}
        listf.append(line)
    print(listf)

[{'name': 'Sascha Raybourne', 'age': 59}, {'name': 'Crystie Wilson', 'age': 63}, {'name': 'Laurene Danais', 'age': 19}, {'name': 'Harlene Chobot', 'age': 62}, {'name': 'Ardene Cindelyn', 'age': 66}, {'name': 'Buffy Loriner', 'age': 57}, {'name': 'Fredrika Sugihara', 'age': 21}, {'name': 'Zsazsa Prendergast', 'age': 46}, {'name': 'Phaedra Quartus', 'age': 35}, {'name': 'Roslyn Bocock', 'age': 33}, {'name': 'Helen Friedrick', 'age': 39}, {'name': 'Shaylah Wassyngton', 'age': 53}, {'name': 'Kacey Indihar', 'age': 46}, {'name': 'Adore Scotty', 'age': 25}, {'name': 'Laney Uno', 'age': 31}, {'name': 'Xenia Claudianus', 'age': 65}, {'name': 'Magdalen Kamerman', 'age': 58}, {'name': 'Cthrine Adabel', 'age': 28}, {'name': 'Aundrea Clovah', 'age': 56}, {'name': 'Jenda Holna', 'age': 42}, {'name': 'Colly Oringas', 'age': 60}, {'name': 'Lorraine Stefano', 'age': 50}, {'name': 'Elfie Petey', 'age': 45}, {'name': 'Catarina Shulman', 'age': 42}, {'name': 'Agnola Lavelle', 'age': 26}, {'name': 'Elnora Ruder', 'age': 27}, {'name': 'Sheelagh Gefen', 'age': 28}, {'name': 'Danni Kendre', 'age': 60}, {'name': 'Olwen Tica', 'age': 28}, {'name': 'Leia Virgina', 'age': 23}, {'name': 'Adrianne Odom', 'age': 48}, {'name': 'Jacquenette Georglana', 'age': 55}, {'name': 'Evangelia Patten', 'age': 46}, {'name': 'Jackelyn Madonia', 'age': 21}, {'name': 'Debbie Walford', 'age': 30}, {'name': 'Tomasine Allerus', 'age': 42}, {'name': 'Rosemary Robbie', 'age': 59}, {'name': 'Kalindi Aubry', 'age': 21}, {'name': 'Gretta Ralph', 'age': 65}, {'name': 'Sissie Egin', 'age': 47}, {'name': 'Tamera Brady', 'age': 37}, {'name': 'Zondra Adrell', 'age': 59}, {'name': 'Mandy Caresse', 'age': 45}, {'name': 'Margaretta Jena', 'age': 39}, {'name': 'Maible Koy', 'age': 29}, {'name': 'Lisha Casey', 'age': 32}, {'name': 'Regina Schaffel', 'age': 23}, {'name': 'Ellene Kajdan', 'age': 48}, {'name': 'Halley Alarick', 'age': 18}, {'name': 'Brandise Neale', 'age': 27}, {'name': 'Tiff Rosene', 'age': 51}, {'name': 'Trista Edmea', 'age': 48}, {'name': 'Viviana Culosio', 'age': 49}, {'name': 'Alexandra Cullie', 'age': 49}, {'name': 'Honey Jacqueline', 'age': 40}, {'name': 'Carmel Heman', 'age': 62}, {'name': 'Mozelle Liddie', 'age': 45}, {'name': 'Leticia Pearlman', 'age': 26}, {'name': 'Zulema Jeth', 'age': 59}, {'name': 'Tanya Gianna', 'age': 24}, {'name': 'Valina Caines', 'age': 46}, {'name': 'Janith Pacificas', 'age': 25}, {'name': 'Selie Crisey', 'age': 24}, {'name': 'Eugenie Goulet', 'age': 24}, {'name': 'Allegra Jacquenette', 'age': 32}, {'name': 'Henrietta Fairweather', 'age': 19}, {'name': 'Tina Connell', 'age': 56}, {'name': 'Shir Minny', 'age': 39}, {'name': 'Allissa Soutor', 'age': 28}, {'name': 'Gypsy Knowlton', 'age': 49}, {'name': 'Prissie Harden', 'age': 61}, {'name': 'Claudine Byrd', 'age': 58}, {'name': 'Tiffi Ody', 'age': 54}, {'name': 'Elfie Acquah', 'age': 29}, {'name': 'Mellisa Goddard', 'age': 37}, {'name': 'Kathe Sanborn', 'age': 46}, {'name': 'Melisenda Nissa', 'age': 63}, {'name': 'Jacquelynn Bradski', 'age': 57}, {'name': 'Thomasine Bealle', 'age': 63}, {'name': 'Felicia Valry', 'age': 34}, {'name': 'Grace Werra', 'age': 42}, {'name': 'Abbey Shieh', 'age': 46}, {'name': 'Bendite Arny', 'age': 33}, {'name': 'Saraann Ebneter', 'age': 39}, {'name': 'Idelle Windsor', 'age': 25}, {'name': 'Nicoli Derrik', 'age': 40}, {'name': 'Kerrill Crowns', 'age': 54}, {'name': 'Cecilia Foah', 'age': 59}, {'name': 'April Severson', 'age': 61}, {'name': 'Laurice Duston', 'age': 43}, {'name': 'Cherin Ida', 'age': 64}, {'name': 'Dreddy Kermy', 'age': 38}, {'name': 'Daphne Orva', 'age': 20}, {'name': 'Roxanne Bowes', 'age': 32}, {'name': 'Renate Max', 'age': 33}, {'name': 'Trudey Galanti', 'age': 59}, {'name': 'Bill Madaras', 'age': 30}, {'name': 'Minna Balliol', 'age': 35}, {'name': 'Danella Sykes', 'age': 48}, {'name': 'Fan Delastre', 'age': 31}, {'name': 'Harri Seagrave', 'age': 48}, {'name': 'Tess Reo', 'age': 66}, {'name': 'Coralie Rowen', 'age': 20}, {'name': 'Kathrine Bashee', 'age': 64}, {'name': 'Sibilla Prady', 'age': 52}, {'name': 'Helenka Marjorie', 'age': 20}, {'name': 'Myrta Milan', 'age': 27}, {'name': 'Doll Hengel', 'age': 44}, {'name': 'Teena Clarance', 'age': 59}, {'name': 'Barbara Kablesh', 'age': 53}, {'name': 'Collete Mya', 'age': 45}, {'name': 'Kay Godfrey', 'age': 29}, {'name': 'Fancie Mechling', 'age': 59}, {'name': 'Fae Schenck', 'age': 30}, {'name': 'Hermine Mellar', 'age': 24}, {'name': 'Marabel Studner', 'age': 55}, {'name': 'Stesha Mani', 'age': 65}, {'name': 'Caroljean Aurea', 'age': 65}, {'name': 'Goldie Resa', 'age': 26}, {'name': 'Agneta Waylan', 'age': 48}, {'name': 'Brande Silvain', 'age': 54}, {'name': 'Kylila Spurgeon', 'age': 24}, {'name': 'Arlana Turino', 'age': 55}, {'name': 'Susanne Lorilyn', 'age': 47}, {'name': 'Etti Dempsey', 'age': 34}, {'name': 'Bobbe Kawai', 'age': 59}, {'name': 'Michel Stier', 'age': 48}, {'name': 'Brianne Ferdinanda', 'age': 50}, {'name': 'Tomasine Jacquenette', 'age': 54}, {'name': 'Bea Madai', 'age': 51}, {'name': 'Gilberta Rodge', 'age': 62}, {'name': 'Kelsi Apul', 'age': 66}, {'name': 'Indira Frayda', 'age': 32}, {'name': 'Felecia Irvin', 'age': 39}, {'name': 'Mandi Abad', 'age': 24}, {'name': 'Gillie Vernice', 'age': 24}, {'name': 'Roseann Lightfoot', 'age': 42}, {'name': 'Lula Idalia', 'age': 27}, {'name': 'Domeniga Ruffina', 'age': 52}, {'name': 'Kippie Culberson', 'age': 29}, {'name': 'Marlo Rickard', 'age': 28}, {'name': 'Candida Mackoff', 'age': 63}, {'name': 'Harriot Coralie', 'age': 35}, {'name': 'Deonne Beore', 'age': 45}, {'name': 'Gianna Hedvah', 'age': 58}, {'name': 'Madella Ethe', 'age': 31}, {'name': 'Joni Durant', 'age': 36}, {'name': 'Letta Brezin', 'age': 55}, {'name': 'Theo Figueroa', 'age': 43}, {'name': 'Orel Vilberg', 'age': 50}, {'name': 'Tonie Pepito', 'age': 66}, {'name': 'Pamela Berner', 'age': 54}, {'name': 'Gianna Zippel', 'age': 52}, {'name': 'Marice Tare', 'age': 37}, {'name': 'Mallissa Sidky', 'age': 22}, {'name': 'Mirabelle Loos', 'age': 59}, {'name': 'Tilly Anurag', 'age': 42}, {'name': 'Georgetta Ivanna', 'age': 42}, {'name': "Melita O'Conner", 'age': 22}, {'name': 'Ginnie Adelbert', 'age': 37}, {'name': 'Brandie Ressler', 'age': 46}, {'name': 'Manya Andras', 'age': 65}, {'name': 'Tiffie Quinn', 'age': 52}, {'name': 'Kirbie Fairman', 'age': 40}, {'name': 'Berrie Joeann', 'age': 47}, {'name': 'Corrina Neala', 'age': 61}, {'name': 'Debby Collins', 'age': 20}, {'name': 'Nessi Gertrud', 'age': 20}, {'name': 'Gertrud Shulock', 'age': 64}, {'name': 'Rosana Faythe', 'age': 51}, {'name': 'Brittni Todhunter', 'age': 34}, {'name': 'Sherline Taite', 'age': 39}, {'name': 'Dosi Morville', 'age': 63}, {'name': 'Crin Phillis', 'age': 64}, {'name': 'Sharon Silvio', 'age': 59}, {'name': 'Vevay Hynda', 'age': 39}, {'name': 'Kesley Northington', 'age': 45}, {'name': 'Amabelle Ramsey', 'age': 49}, {'name': 'Laura Vogele', 'age': 35}, {'name': 'Judith Rexer', 'age': 34}, {'name': 'Clemmy Furnary', 'age': 48}, {'name': 'Karla Einhorn', 'age': 19}, {'name': 'Merline Marty', 'age': 62}, {'name': 'Hilde Gracye', 'age': 65}, {'name': 'Brynne Barbur', 'age': 45}, {'name': 'Nonna Cinelli', 'age': 30}, {'name': 'Harriette Ferrand', 'age': 25}, {'name': 'Lanette Kushner', 'age': 25}, {'name': 'Anett Singh', 'age': 45}, {'name': 'Con Nancey', 'age': 43}, {'name': 'Rayshell Jard', 'age': 66}, {'name': 'Stacy Furey', 'age': 18}, {'name': 'Sella Aramenta', 'age': 37}, {'name': 'Lurleen Lal', 'age': 60}, {'name': 'Lynnet Toft', 'age': 66}, {'name': 'Gabriela Clarie', 'age': 23}, {'name': 'Etta Huff', 'age': 52}, {'name': 'Melisent Koosis', 'age': 49}, {'name': 'Melanie Dich', 'age': 52}, {'name': 'Dniren Kyl', 'age': 30}, {'name': 'Annemarie Stanislas', 'age': 26}, {'name': 'Tatum Sarene', 'age': 31}, {'name': 'Tiphani Let', 'age': 64}, {'name': 'Dagmar Beffrey', 'age': 24}, {'name': 'Saba Rossner', 'age': 62}, {'name': 'Tillie Longfellow', 'age': 53}, {'name': 'Cecelia Moretta', 'age': 31}, {'name': 'Berthe Ramses', 'age': 29}, {'name': 'Karalee Stedman', 'age': 32}, {'name': 'Maryrose Ambrosia', 'age': 62}, {'name': 'Jacky Sothena', 'age': 55}, {'name': 'Marylou Perrins', 'age': 42}, {'name': 'Alleen Deering', 'age': 54}, {'name': 'Adriana Echo', 'age': 25}, {'name': 'Sallie Aretha', 'age': 21}, {'name': 'Joleen Cheria', 'age': 54}, {'name': 'Debi Anna-Maria', 'age': 64}, {'name': 'Joellen Thornie', 'age': 19}, {'name': 'Sidoney Nowell', 'age': 45}, {'name': 'Nat Rahel', 'age': 36}, {'name': 'Fleurette Syverson', 'age': 55}, {'name': 'Kassandra Lovett', 'age': 44}, {'name': 'Ninnetta Cart', 'age': 19}, {'name': 'Kari Dawna', 'age': 47}, {'name': 'Teressa McCready', 'age': 28}, {'name': 'Winona Mossman', 'age': 29}, {'name': 'Andeee Charie', 'age': 46}, {'name': 'Dione Sollows', 'age': 53}, {'name': 'Gabriel Leonanie', 'age': 41}, {'name': 'Dorree Ranita', 'age': 46}, {'name': 'Gilbertina Armalla', 'age': 34}, {'name': 'Cheri Jackson', 'age': 52}, {'name': 'Carrissa Charlena', 'age': 60}, {'name': 'Elsie Laurentia', 'age': 39}, {'name': 'Bevvy Stroud', 'age': 43}, {'name': 'Drona Chill', 'age': 23}, {'name': 'Ariana Maker', 'age': 55}, {'name': 'Shandra Melony', 'age': 52}, {'name': 'Rosamond Ranitta', 'age': 35}, {'name': 'Harriot Magocsi', 'age': 48}, {'name': 'Annie Ynes', 'age': 66}, {'name': 'Helyn Bidget', 'age': 26}, {'name': 'Fernandina Asquith', 'age': 27}, {'name': 'Eadith Tarton', 'age': 19}, {'name': 'Jacquenette Basilio', 'age': 51}, {'name': 'Alica Ignace', 'age': 51}, {'name': 'Gray Mei', 'age': 49}, {'name': 'Dulcine Fritze', 'age': 36}, {'name': 'Janessa Childers', 'age': 40}, {'name': 'Berta Zina', 'age': 57}, {'name': 'Pat Perrie', 'age': 27}, {'name': 'Gloria Bortz', 'age': 26}, {'name': 'Anabal Merna', 'age': 46}, {'name': 'Shalne Herrick', 'age': 62}, {'name': 'Gwenette Januarius', 'age': 61}, {'name': 'Blinni Flory', 'age': 28}, {'name': 'Kori Mignonne', 'age': 29}, {'name': 'Emogene Veal', 'age': 34}, {'name': 'Pegeen Christianson', 'age': 48}, {'name': 'Rhianon Buddie', 'age': 51}, {'name': 'Stefa Sapers', 'age': 26}, {'name': 'Gabriella Rakia', 'age': 53}, {'name': 'Antonietta Maxentia', 'age': 54}, {'name': 'Birgitta Hanselka', 'age': 44}, {'name': 'Saundra Yseulte', 'age': 66}, {'name': 'Carlye Helsell', 'age': 34}, {'name': 'Dru Carmela', 'age': 36}, {'name': 'Ericka Donald', 'age': 34}, {'name': 'Nicolea Barabas', 'age': 40}, {'name': 'Aurelia Derrek', 'age': 54}, {'name': 'Cinderella Altaf', 'age': 64}, {'name': 'Angelika Hans', 'age': 36}, {'name': 'Rebeka Gilemette', 'age': 63}, {'name': 'Tessi Uriisa', 'age': 46}, {'name': 'Maye Esbensen', 'age': 26}, {'name': 'Inesita Nappie', 'age': 42}, {'name': 'Tonya Cicely', 'age': 39}, {'name': 'Pearline Parik', 'age': 58}, {'name': 'Wilma Maria', 'age': 38}, {'name': 'Mona Benis', 'age': 51}, {'name': 'Suki Elodia', 'age': 22}, {'name': 'Christabel Crawley', 'age': 35}, {'name': 'Bamby Halliday', 'age': 63}, {'name': 'Zita Konrad', 'age': 64}, {'name': 'Dode Malchy', 'age': 27}, {'name': 'Penelope Streetman', 'age': 52}, {'name': 'Danielle Cummine', 'age': 52}, {'name': 'Patrizia Landa', 'age': 21}, {'name': 'Fidela Fortunia', 'age': 55}, {'name': 'Ricca Rene', 'age': 45}, {'name': 'Karylin Cailean', 'age': 64}, {'name': 'Meredith Rafi', 'age': 63}, {'name': 'Trisha Selie', 'age': 43}, {'name': 'Sileas Tobey', 'age': 25}, {'name': 'Lanie Verene', 'age': 19}, {'name': 'Jobye Chapland', 'age': 32}, {'name': 'Alyce Osugi', 'age': 62}, {'name': 'Tedda Ube', 'age': 25}, {'name': 'Rosalia Rosenbaum', 'age': 59}, {'name': 'Zena Hansen', 'age': 21}, {'name': 'Kathi Violante', 'age': 26}, {'name': 'Jorie Elazaro', 'age': 50}, {'name': 'Cassandre Thorin', 'age': 32}, {'name': 'Emma Birchard', 'age': 55}, {'name': 'Bren Lothar', 'age': 38}, {'name': 'Sherry Ankney', 'age': 49}, {'name': 'Willie Zerelda', 'age': 63}, {'name': 'Brandi Barren', 'age': 34}, {'name': 'Maddie Cave', 'age': 49}, {'name': 'Kirstin Sioux', 'age': 24}, {'name': 'Koressa Deena', 'age': 62}, {'name': 'Madel Darrin', 'age': 58}, {'name': 'Lida Donia', 'age': 21}, {'name': 'Vanessa Meadow', 'age': 40}, {'name': 'Shannon Dulcinea', 'age': 37}, {'name': 'Quinn Perlman', 'age': 55}, {'name': 'Concettina Weibel', 'age': 20}, {'name': 'Ysabel Bick', 'age': 34}, {'name': 'Gillian Files', 'age': 43}, {'name': 'Willi Melan', 'age': 62}, {'name': 'Katrina Emelyne', 'age': 40}, {'name': 'Deina Paulette', 'age': 61}, {'name': 'Dani Rocky', 'age': 52}, {'name': 'Kikelia Kinnie', 'age': 52}, {'name': 'Xylina Angadresma', 'age': 29}, {'name': 'Katusha Dash', 'age': 58}, {'name': 'Aurelea Lisan', 'age': 39}, {'name': 'Bliss Bigner', 'age': 54}, {'name': 'Perla Cathy', 'age': 53}, {'name': 'Darbie Goran', 'age': 22}, {'name': 'Ree Garlan', 'age': 39}, {'name': 'Jessa Conney', 'age': 57}, {'name': 'Kizzee Driscoll', 'age': 32}, {'name': 'Lorraine Myer', 'age': 26}, {'name': 'Nan Ezar', 'age': 41}, {'name': 'Celene Smukler', 'age': 43}, {'name': 'Pam Little', 'age': 52}, {'name': 'Cathie Sapienza', 'age': 40}, {'name': 'Reyna Marchall', 'age': 35}, {'name': 'Anastasia Blanch', 'age': 43}, {'name': 'Sibilla Delmar', 'age': 43}, {'name': 'Penny Polash', 'age': 44}, {'name': 'Kikelia Eldredge', 'age': 59}, {'name': 'Zoe Basil', 'age': 47}, {'name': 'Corey Anissa', 'age': 43}, {'name': 'Etta Sisak', 'age': 33}, {'name': 'Allx Clardy', 'age': 31}, {'name': 'Sharleen Auguste', 'age': 64}, {'name': 'Shea Reseda', 'age': 19}, {'name': 'Olivette Gery', 'age': 65}, {'name': 'Nikoletta Dysart', 'age': 36}, {'name': 'Bunnie Nonna', 'age': 37}, {'name': 'Greta Wendy', 'age': 55}, {'name': 'Vinny Whitcher', 'age': 29}, {'name': 'Corrinne Rina', 'age': 26}, {'name': 'Flora Vernen', 'age': 42}, {'name': 'Lexie Lose', 'age': 65}, {'name': 'Katherina Phelips', 'age': 55}, {'name': 'Tildi Bowne', 'age': 21}, {'name': 'Honey Juliann', 'age': 60}, {'name': 'Shelba Lozano', 'age': 50}, {'name': 'Janna Stanford', 'age': 42}, {'name': 'Annadiane Leann', 'age': 38}, {'name': 'Kerri Wilton', 'age': 50}, {'name': 'Cassondra Burg', 'age': 50}, {'name': 'Bethany Clements', 'age': 19}, {'name': 'Brynne Waylin', 'age': 21}, {'name': 'Brenda Mulry', 'age': 38}, {'name': 'Corette Crotty', 'age': 35}, {'name': 'Alexi Renie', 'age': 43}, {'name': 'Othella Eliathan', 'age': 65}, {'name': 'Goldia Fulviah', 'age': 38}, {'name': 'Corie Greenebaum', 'age': 60}, {'name': 'Elfrida Tobiah', 'age': 18}, {'name': 'Frances Lyns', 'age': 31}, {'name': 'Kristel Peder', 'age': 26}, {'name': 'Risa Girish', 'age': 64}, {'name': 'Con Gonzales', 'age': 62}, {'name': 'Merilyn Chrissy', 'age': 53}, {'name': 'Heath Juliette', 'age': 57}, {'name': 'Danella Dymphia', 'age': 66}, {'name': 'Sioux Verge', 'age': 43}, {'name': 'Gabi Chor', 'age': 30}, {'name': 'Juliette Jemmie', 'age': 37}, {'name': 'Kalina Emogene', 'age': 60}, {'name': 'Louise Busby', 'age': 35}, {'name': 'Constance Maximilian', 'age': 25}, {'name': 'Jannelle Kaia', 'age': 38}, {'name': 'Tami Peatroy', 'age': 46}, {'name': 'Nedi Dolly', 'age': 46}, {'name': 'Bel Dorkas', 'age': 49}, {'name': 'Lina Mauer', 'age': 63}, {'name': 'Barbara Champ', 'age': 63}, {'name': 'Horatia Hamid', 'age': 61}, {'name': 'Antoinette Okubo', 'age': 33}, {'name': 'Clarabelle Loseff', 'age': 44}, {'name': 'Kaycee Pate', 'age': 31}, {'name': 'Ermengarde Boeschen', 'age': 57}, {'name': 'Ysabel Gleeson', 'age': 51}, {'name': 'Celestyn Naldo', 'age': 37}, {'name': 'Violante Attlee', 'age': 33}, {'name': 'Jacinthe Fording', 'age': 64}, {'name': 'Evy Olav', 'age': 55}, {'name': 'Allianora Ron', 'age': 54}, {'name': 'Nataline Dag', 'age': 66}, {'name': 'Alfi Hagerman', 'age': 46}, {'name': 'Estele Lorrimor', 'age': 53}, {'name': 'Mariejeanne Oys', 'age': 46}, {'name': 'Faina Theta', 'age': 52}, {'name': 'Elfie Lambrecht', 'age': 41}, {'name': 'Merrilee Hamon', 'age': 58}, {'name': 'Barbie Xena', 'age': 53}, {'name': 'Jaquelyn Deny', 'age': 44}, {'name': 'Garnette Archie', 'age': 18}, {'name': 'Margaretta Humble', 'age': 18}, {'name': 'Livvyy Pool', 'age': 62}, {'name': 'Lorena Elspeth', 'age': 64}, {'name': 'Raphaela Jared', 'age': 51}, {'name': 'Elise Frants', 'age': 65}, {'name': 'Christina Alby', 'age': 58}, {'name': 'Andeee Arella', 'age': 58}, {'name': 'Neysa Martinson', 'age': 43}, {'name': 'Olga Masterson', 'age': 53}, {'name': 'Moyna Elmajian', 'age': 44}, {'name': 'Sibeal Coh', 'age': 60}, {'name': 'Agnola Peder', 'age': 38}, {'name': 'Anica Balough', 'age': 51}, {'name': 'Gael Wexler', 'age': 63}, {'name': 'Elly Tacye', 'age': 44}, {'name': 'Aeriela Nastassia', 'age': 47}, {'name': 'Deanne Burty', 'age': 66}, {'name': 'Joannes Neile', 'age': 60}, {'name': 'Winnifred Lottie', 'age': 19}, {'name': 'Denys Baryram', 'age': 31}, {'name': 'Seka Susannah', 'age': 48}, {'name': 'Ysabel Roybn', 'age': 48}, {'name': 'Ellyn Monafo', 'age': 54}, {'name': 'Keelia Hubble', 'age': 59}, {'name': 'Josepha Othella', 'age': 42}, {'name': 'Angie Melda', 'age': 43}, {'name': 'Ofilia Zsazsa', 'age': 41}, {'name': 'Karole Trenna', 'age': 34}, {'name': 'Annadiane Libbna', 'age': 63}, {'name': 'Sigrid Sidwel', 'age': 38}, {'name': 'Lacee Lissner', 'age': 34}, {'name': 'Tracie Modesty', 'age': 29}, {'name': 'Lena Skelly', 'age': 58}, {'name': 'Zena Luna', 'age': 53}, {'name': 'Kristel Darline', 'age': 20}, {'name': 'Ros Bartie', 'age': 32}, {'name': 'Shelbi Niela', 'age': 20}, {'name': 'Chelsie Evante', 'age': 45}, {'name': 'Juli Babbette', 'age': 23}, {'name': 'Viki Ninos', 'age': 42}, {'name': 'Dacie Violeta', 'age': 63}, {'name': 'Fancie Maighdiln', 'age': 21}, {'name': 'Antonietta Jarrell', 'age': 60}, {'name': 'Darryl McCall', 'age': 46}, {'name': 'Missy Ceevah', 'age': 48}, {'name': 'Cindra Darrill', 'age': 35}, {'name': 'Pavla Rafaela', 'age': 61}, {'name': 'Ruby Sabino', 'age': 53}, {'name': 'Carly Gary', 'age': 63}, {'name': 'Babara Dev', 'age': 25}, {'name': 'Maryellen Aksoyn', 'age': 56}, {'name': 'Marrilee Ronald', 'age': 31}, {'name': 'Hetty Pevzner', 'age': 49}, {'name': 'Arlinda Delbert', 'age': 50}, {'name': 'Dulciana Selhorst', 'age': 59}, {'name': 'Jenni Solley', 'age': 40}, {'name': 'Bryana Normi', 'age': 19}, {'name': 'Steffie Marquez', 'age': 20}, {'name': 'Petronille Hake', 'age': 44}, {'name': 'Em Jules', 'age': 25}, {'name': 'Violetta Ardys', 'age': 29}, {'name': 'Kristine Kannry', 'age': 42}, {'name': 'Cinda Zacek', 'age': 30}, {'name': 'Candra Matusow', 'age': 61}, {'name': 'Jayne Renckens', 'age': 23}, {'name': 'Julia Brownley', 'age': 30}, {'name': 'Reine Whitebook', 'age': 54}, {'name': 'Gennie Erving', 'age': 35}, {'name': 'Goldia Swayne', 'age': 62}, {'name': 'Hortense Rinee', 'age': 64}, {'name': 'Ermina Faline', 'age': 32}, {'name': 'Jeanine Latreshia', 'age': 41}, {'name': 'Cal Edwyna', 'age': 34}, {'name': 'Marnia Monie', 'age': 53}, {'name': 'Kara Raseda', 'age': 63}, {'name': 'Persis Donegan', 'age': 48}, {'name': 'Andree Ochs', 'age': 51}, {'name': 'Sybyl Sibby', 'age': 32}, {'name': 'Katy Edyth', 'age': 46}, {'name': 'Andra Mavilia', 'age': 45}, {'name': 'Henrie Maxy', 'age': 60}, {'name': 'Clemence Nicholle', 'age': 19}, {'name': 'Hali Barnes', 'age': 25}, {'name': 'Diandra Rozele', 'age': 28}, {'name': 'Winni Pavia', 'age': 33}, {'name': 'Zia Atkinson', 'age': 31}, {'name': 'Ardeen Maddi', 'age': 26}, {'name': 'Prissie Laughton', 'age': 66}, {'name': 'Sibel Paryavi', 'age': 31}, {'name': 'Greta Reilly', 'age': 30}, {'name': 'Marysa Waylen', 'age': 35}, {'name': 'Brynne Henden', 'age': 40}, {'name': 'Vilma Caia', 'age': 18}, {'name': 'Nolana Kerstin', 'age': 46}, {'name': 'Teriann Esau', 'age': 48}, {'name': 'Aurel Felise', 'age': 36}, {'name': 'Doralyn Blakeley', 'age': 57}, {'name': 'Starr Wall', 'age': 66}, {'name': 'Karol Anderea', 'age': 60}, {'name': 'Jorey Hoppe', 'age': 33}, {'name': 'Brena Breger', 'age': 59}, {'name': 'Dorolice Kathe', 'age': 60}, {'name': 'Adella Ludie', 'age': 43}, {'name': 'Clair Viola', 'age': 43}, {'name': 'Malanie Mackenie', 'age': 64}, {'name': 'Janessa Johppah', 'age': 31}, {'name': 'Quinn Dillie', 'age': 21}, {'name': 'Ansley Volnak', 'age': 20}, {'

2) Filter the data into a new list.  
The new list should only contain people in the age group [30, 40] (inclusive)

In [153]:
# Write your code here
filtered = list(filter(lambda x : 30 <= x['age'] <= 40, listf))
print(filtered)

[{'name': 'Phaedra Quartus', 'age': 35}, {'name': 'Roslyn Bocock', 'age': 33}, {'name': 'Helen Friedrick', 'age': 39}, {'name': 'Laney Uno', 'age': 31}, {'name': 'Debbie Walford', 'age': 30}, {'name': 'Tamera Brady', 'age': 37}, {'name': 'Margaretta Jena', 'age': 39}, {'name': 'Lisha Casey', 'age': 32}, {'name': 'Honey Jacqueline', 'age': 40}, {'name': 'Allegra Jacquenette', 'age': 32}, {'name': 'Shir Minny', 'age': 39}, {'name': 'Mellisa Goddard', 'age': 37}, {'name': 'Felicia Valry', 'age': 34}, {'name': 'Bendite Arny', 'age': 33}, {'name': 'Saraann Ebneter', 'age': 39}, {'name': 'Nicoli Derrik', 'age': 40}, {'name': 'Dreddy Kermy', 'age': 38}, {'name': 'Roxanne Bowes', 'age': 32}, {'name': 'Renate Max', 'age': 33}, {'name': 'Bill Madaras', 'age': 30}, {'name': 'Minna Balliol', 'age': 35}, {'name': 'Fan Delastre', 'age': 31}, {'name': 'Fae Schenck', 'age': 30}, {'name': 'Etti Dempsey', 'age': 34}, {'name': 'Indira Frayda', 'age': 32}, {'name': 'Felecia Irvin', 'age': 39}, {'name': 'Harriot Coralie', 'age': 35}, {'name': 'Madella Ethe', 'age': 31}, {'name': 'Joni Durant', 'age': 36}, {'name': 'Marice Tare', 'age': 37}, {'name': 'Ginnie Adelbert', 'age': 37}, {'name': 'Kirbie Fairman', 'age': 40}, {'name': 'Brittni Todhunter', 'age': 34}, {'name': 'Sherline Taite', 'age': 39}, {'name': 'Vevay Hynda', 'age': 39}, {'name': 'Laura Vogele', 'age': 35}, {'name': 'Judith Rexer', 'age': 34}, {'name': 'Nonna Cinelli', 'age': 30}, {'name': 'Sella Aramenta', 'age': 37}, {'name': 'Dniren Kyl', 'age': 30}, {'name': 'Tatum Sarene', 'age': 31}, {'name': 'Cecelia Moretta', 'age': 31}, {'name': 'Karalee Stedman', 'age': 32}, {'name': 'Nat Rahel', 'age': 36}, {'name': 'Gilbertina Armalla', 'age': 34}, {'name': 'Elsie Laurentia', 'age': 39}, {'name': 'Rosamond Ranitta', 'age': 35}, {'name': 'Dulcine Fritze', 'age': 36}, {'name': 'Janessa Childers', 'age': 40}, {'name': 'Emogene Veal', 'age': 34}, {'name': 'Carlye Helsell', 'age': 34}, {'name': 'Dru Carmela', 'age': 36}, {'name': 'Ericka Donald', 'age': 34}, {'name': 'Nicolea Barabas', 'age': 40}, {'name': 'Angelika Hans', 'age': 36}, {'name': 'Tonya Cicely', 'age': 39}, {'name': 'Wilma Maria', 'age': 38}, {'name': 'Christabel Crawley', 'age': 35}, {'name': 'Jobye Chapland', 'age': 32}, {'name': 'Cassandre Thorin', 'age': 32}, {'name': 'Bren Lothar', 'age': 38}, {'name': 'Brandi Barren', 'age': 34}, {'name': 'Vanessa Meadow', 'age': 40}, {'name': 'Shannon Dulcinea', 'age': 37}, {'name': 'Ysabel Bick', 'age': 34}, {'name': 'Katrina Emelyne', 'age': 40}, {'name': 'Aurelea Lisan', 'age': 39}, {'name': 'Ree Garlan', 'age': 39}, {'name': 'Kizzee Driscoll', 'age': 32}, {'name': 'Cathie Sapienza', 'age': 40}, {'name': 'Reyna Marchall', 'age': 35}, {'name': 'Etta Sisak', 'age': 33}, {'name': 'Allx Clardy', 'age': 31}, {'name': 'Nikoletta Dysart', 'age': 36}, {'name': 'Bunnie Nonna', 'age': 37}, {'name': 'Annadiane Leann', 'age': 38}, {'name': 'Brenda Mulry', 'age': 38}, {'name': 'Corette Crotty', 'age': 35}, {'name': 'Goldia Fulviah', 'age': 38}, {'name': 'Frances Lyns', 'age': 31}, {'name': 'Gabi Chor', 'age': 30}, {'name': 'Juliette Jemmie', 'age': 37}, {'name': 'Louise Busby', 'age': 35}, {'name': 'Jannelle Kaia', 'age': 38}, {'name': 'Antoinette Okubo', 'age': 33}, {'name': 'Kaycee Pate', 'age': 31}, {'name': 'Celestyn Naldo', 'age': 37}, {'name': 'Violante Attlee', 'age': 33}, {'name': 'Agnola Peder', 'age': 38}, {'name': 'Denys Baryram', 'age': 31}, {'name': 'Karole Trenna', 'age': 34}, {'name': 'Sigrid Sidwel', 'age': 38}, {'name': 'Lacee Lissner', 'age': 34}, {'name': 'Ros Bartie', 'age': 32}, {'name': 'Cindra Darrill', 'age': 35}, {'name': 'Marrilee Ronald', 'age': 31}, {'name': 'Jenni Solley', 'age': 40}, {'name': 'Cinda Zacek', 'age': 30}, {'name': 'Julia Brownley', 'age': 30}, {'name': 'Gennie Erving', 'age': 35}, {'name': 'Ermina Faline', 'age': 32}, {'name': 'Cal Edwyna', 'age': 34}, {'name': 'Sybyl Sibby', 'age': 32}, {'name': 'Winni Pavia', 'age': 33}, {'name': 'Zia Atkinson', 'age': 31}, {'name': 'Sibel Paryavi', 'age': 31}, {'name': 'Greta Reilly', 'age': 30}, {'name': 'Marysa Waylen', 'age': 35}, {'name': 'Brynne Henden', 'age': 40}, {'name': 'Aurel Felise', 'age': 36}, {'name': 'Jorey Hoppe', 'age': 33}, {'name': 'Janessa Johppah', 'age': 31}, {'name': 'Jess Fotinas', 'age': 37}, {'name': 'Jonis Willis', 'age': 31}, {'name': 'Doro Khudari', 'age': 34}, {'name': 'Nichol Cecilius', 'age': 40}, {'name': 'Ivonne Dehnel', 'age': 31}, {'name': 'Zorine Romola', 'age': 34}, {'name': 'Brandais Leo', 'age': 33}, {'name': 'Denna Rica', 'age': 33}, {'name': 'Kirsteni Iaverne', 'age': 39}, {'name': 'Olva Sissie', 'age': 34}, {'name': 'Annetta Shepp', 'age': 35}, {'name': 'Colline Moyers', 'age': 38}, {'name': 'Devinne Edeline', 'age': 32}, {'name': 'Carlin Laurie', 'age': 35}, {'name': 'Janey Berkow', 'age': 36}, {'name': 'Koo Flemming', 'age': 31}, {'name': 'Eydie Aleksandr', 'age': 36}, {'name': 'Jackquelin Merrilee', 'age': 37}, {'name': 'Amandi Bigford', 'age': 36}, {'name': 'Kaleena Sheelah', 'age': 30}, {'name': 'Hilda Sneed', 'age': 34}, {'name': 'Muire Binetta', 'age': 37}, {'name': 'Bridget Cooperman', 'age': 31}, {'name': 'Alfi Iorgos', 'age': 38}, {'name': 'Joice Evangelina', 'age': 39}, {'name': 'Caritta Tristan', 'age': 31}, {'name': 'Gweneth Craven', 'age': 38}, {'name': 'Susanna Marguerite', 'age': 34}, {'name': 'Glori Rubinstein', 'age': 39}, {'name': 'Ulrike Saffren', 'age': 36}, {'name': 'Blisse LaMori', 'age': 39}, {'name': 'Rochella Pilloff', 'age': 39}, {'name': 'Kanya Faro', 'age': 31}, {'name': 'Lorine Vanthe', 'age': 35}, {'name': 'Henrietta Veal', 'age': 35}, {'name': 'Hermina Fregger', 'age': 40}, {'name': 'Dita Griselda', 'age': 31}, {'name': 'Hedda Bainter', 'age': 37}, {'name': 'Janaye Whallon', 'age': 37}, {'name': 'Florance Glynas', 'age': 40}, {'name': 'Carmelle Duff', 'age': 37}, {'name': 'Martguerita Athene', 'age': 33}, {'name': 'Tommi Petulia', 'age': 32}, {'name': 'Ailsun Miko', 'age': 34}, {'name': 'Benny Lesli', 'age': 32}, {'name': 'Bellina Hillard', 'age': 40}, {'name': 'Marya Adler', 'age': 36}, {'name': 'Carin Icken', 'age': 31}, {'name': 'Morna Ellita', 'age': 33}, {'name': 'Christiana Kristof', 'age': 33}, {'name': 'Tonye Onia', 'age': 30}, {'name': 'Abby Barbuto', 'age': 31}, {'name': 'Jaquelyn Jacey', 'age': 39}, {'name': 'Aggy Rauch', 'age': 38}, {'name': 'Riane Mazonson', 'age': 32}, {'name': 'Lanni Grous', 'age': 39}, {'name': 'Paulette Rem', 'age': 37}, {'name': 'Tomasine Christianson', 'age': 40}, {'name': 'Kalindi Eada', 'age': 31}, {'name': 'Ruthe Wivestad', 'age': 34}, {'name': 'Anni Rosmunda', 'age': 37}, {'name': 'Ruthann Jacinthe', 'age': 33}, {'name': 'Marilee Flanigan', 'age': 32}, {'name': 'Shoshanna Nathaniel', 'age': 33}, {'name': 'Rhiamon Clarine', 'age': 30}, {'name': 'George Davina', 'age': 36}, {'name': 'Kari Luisa', 'age': 31}, {'name': 'Julita Bajaj', 'age': 35}, {'name': 'Issy Kezer', 'age': 38}, {'name': 'Bevvy Su', 'age': 35}, {'name': 'Marchelle Crista', 'age': 37}, {'name': 'Julina Scarito', 'age': 33}, {'name': 'Lyndsay Charlotta', 'age': 30}, {'name': 'Seana Flavio', 'age': 30}, {'name': 'Kristen Mohandis', 'age': 35}, {'name': 'Cinderella Sheepshanks', 'age': 32}, {'name': 'Eugenie Horn', 'age': 32}, {'name': 'Adiana Veedis', 'age': 35}, {'name': 'Adria Tidwell', 'age': 36}, {'name': 'TEirtza Nashom', 'age': 34}, {'name': 'Marylynne Iverson', 'age': 34}, {'name': 'Debbie Mellman', 'age': 30}, {'name': 'Janaye Christophe', 'age': 35}, {'name': 'Gleda Romy', 'age': 35}, {'name': 'Wendie Laverne', 'age': 39}, {'name': 'Meara Gowrie', 'age': 38}, {'name': 'Rhianon Emyle', 'age': 34}, {'name': 'Jacintha Patt', 'age': 33}, {'name': 'Vallie Hazlett', 'age': 39}, {'name': 'Ann-Marie Zipah', 'age': 38}, {'name': 'Ranice Lewin', 'age': 38}, {'name': 'Josi Gustave', 'age': 37}, {'name': 'Peggy Nesta', 'age': 36}, {'name': 'Cindy Sheeran', 'age': 40}, {'name': 'Klarrisa Erasmus', 'age': 30}, {'name': 'Betsey Ernestus', 'age': 40}, {'name': 'Giselle Munro', 'age': 34}, {'name': 'Corrie Medea', 'age': 39}, {'name': 'Inesita Lemuela', 'age': 38}, {'name': 'Rubina Dorsman', 'age': 37}, {'name': 'Daffie Southard', 'age': 31}, {'name': 'Hildegarde Estren', 'age': 38}, {'name': 'Margarethe Hogle', 'age': 36}, {'name': 'Edin Art', 'age': 35}, {'name': 'Aubrette Ardyce', 'age': 32}, {'name': 'Gnni Sidra', 'age': 38}, {'name': 'Winni Volny', 'age': 37}, {'name': 'Felice Dalury', 'age': 40}, {'name': 'Ardeen Grishilde', 'age': 36}, {'name': 'Fawne Betthezel', 'age': 37}, {'name': 'Jane Laurita', 'age': 40}, {'name': 'Charlot Burl', 'age': 37}, {'name': 'Leticia Trever', 'age': 39}, {'name': 'Adore Cassell', 'age': 35}, {'name': 'Karlie Hanae', 'age': 39}]

3) write the resulting sample of people and their data into a json file that can be loaded with *json.load()*, name it __session6_people_age30-40.json__

In [156]:
# Write your code here
with open("session6_people_age30-40.json",'w') as fid:
    json.dump(filtered, fid, indent=2)

# 6.5 XML file handling
In this exercise you will be undertaking a series of tasks with a single XML tree.  
You can accomplish all of them with coding solutions you've learnt in this module so far.  
However using xpath, which hasn't been covered extensively, might produce shorter and faster solutions.  
https://docs.python.org/3/library/xml.etree.elementtree.html#xpath-support

In [ ]:
# Execute this cell to have access to the ElementTree module
import xml.etree.ElementTree as ET

#### Loading an XML into memory
The file __surveydata.xml__ contains a subsample of data from here: https://www.reddit.com/r/TheSilphRoad/comments/6n4ttu/survey_results_pokemon_go_1_year_later/
and it is in an xml format.

Your first task is to load the document into a variable called __tree__ and extract the root element into a variable called __root__

In [ ]:
# Write your code here

Each entry has an element indicating the month when the participant started playing. 
Find out if there are any months *missing*, as in are there any months that no players started playing? 
Print the months presented in the data and only print each month once.

In [ ]:
# Write your code here

Now count how many players started in each month and print the results.\
The results for July for example should be:\
July 311

In [ ]:
# Write your code here

Now, for each participant find out how many Pokemons they have caught per km travelled and add that to each participants data as an element with the tag __efficiency__.  
Round the resulting number to 2 decimal places

In [ ]:
# Write your code here

Write the resulting xml tree to a file called __survey_added.xml__  
The first entry of the xml should then be like the following (don't worry about formatting)
```xml
<participant id="1">
   <month>June</month>
   <os>Android</os>
   <team>Mystic (Blue)</team>
   <level>25</level>
   <caught>1000</caught>
   <km>202</km>
   <efficiency>4.95</efficiency>
</participant>
```

In [ ]:
# Write your code here

# 6.6 Remote data

In [162]:
# Execute this cell to have access to the necessary modules
import requests
import json

For this exercise we are going to use a free REST api that provides foreign exchange reference rates.  
The documenation for it can be found here: https://www.frankfurter.app/docs/

Get the exchange rate from GBP to USD over the period 1st January 2020 to today and save it in a variable calle __ratedata__  
You are provided with the url but you will have to replace *add today's date here* with the actual date

*tip: read the documentation to find out how to get what you want from the API

In [185]:
url = "http://api.frankfurter.app/2020-01-01..2025-12-24"
# Write your code here
resp = requests.get(url, {'from':'GBP','to':'USD'})
ratedata = json.loads(resp.text)
display(ratedata)

{'amount': 1.0,
 'base': 'GBP',
 'start_date': '2019-12-30',
 'end_date': '2025-12-22',
 'rates': {'2019-12-30': {'USD': 1.3165},
  '2020-01-06': {'USD': 1.309},
  '2020-01-13': {'USD': 1.3016},
  '2020-01-20': {'USD': 1.3083},
  '2020-01-27': {'USD': 1.3062},
  '2020-02-03': {'USD': 1.3008},
  '2020-02-10': {'USD': 1.2983},
  '2020-02-17': {'USD': 1.2968},
  '2020-02-24': {'USD': 1.2911},
  '2020-03-02': {'USD': 1.2853},
  '2020-03-09': {'USD': 1.2842},
  '2020-03-16': {'USD': 1.1918},
  '2020-03-23': {'USD': 1.1889},
  '2020-03-30': {'USD': 1.2368},
  '2020-04-06': {'USD': 1.2355},
  '2020-04-13': {'USD': 1.2505},
  '2020-04-20': {'USD': 1.2357},
  '2020-04-27': {'USD': 1.2463},
  '2020-05-04': {'USD': 1.2401},
  '2020-05-11': {'USD': 1.2274},
  '2020-05-18': {'USD': 1.221},
  '2020-05-25': {'USD': 1.2289},
  '2020-06-01': {'USD': 1.2544},
  '2020-06-08': {'USD': 1.2675},
  '2020-06-15': {'USD': 1.2522},
  '2020-06-22': {'USD': 1.2439},
  '2020-06-29': {'USD': 1.2389},
  '2020-07-06': {'USD': 1.2565},
  '2020-07-13': {'USD': 1.2575},
  '2020-07-20': {'USD': 1.2699},
  '2020-07-27': {'USD': 1.2979},
  '2020-08-03': {'USD': 1.3083},
  '2020-08-10': {'USD': 1.3074},
  '2020-08-17': {'USD': 1.3143},
  '2020-08-24': {'USD': 1.3184},
  '2020-08-31': {'USD': 1.3332},
  '2020-09-07': {'USD': 1.2971},
  '2020-09-14': {'USD': 1.2924},
  '2020-09-21': {'USD': 1.2778},
  '2020-09-28': {'USD': 1.2896},
  '2020-10-05': {'USD': 1.293},
  '2020-10-12': {'USD': 1.2974},
  '2020-10-19': {'USD': 1.3034},
  '2020-10-26': {'USD': 1.2982},
  '2020-11-02': {'USD': 1.304},
  '2020-11-09': {'USD': 1.319},
  '2020-11-16': {'USD': 1.3244},
  '2020-11-23': {'USD': 1.3348},
  '2020-11-30': {'USD': 1.3383},
  '2020-12-07': {'USD': 1.3296},
  '2020-12-14': {'USD': 1.3485},
  '2020-12-21': {'USD': 1.3426},
  '2020-12-28': {'USD': 1.3564},
  '2021-01-04': {'USD': 1.3607},
  '2021-01-11': {'USD': 1.3599},
  '2021-01-18': {'USD': 1.364},
  '2021-01-25': {'USD': 1.3691},
  '2021-02-01': {'USD': 1.3676},
  '2021-02-08': {'USD': 1.3789},
  '2021-02-15': {'USD': 1.3935},
  '2021-02-22': {'USD': 1.4056},
  '2021-03-01': {'USD': 1.3915},
  '2021-03-08': {'USD': 1.3896},
  '2021-03-15': {'USD': 1.3895},
  '2021-03-22': {'USD': 1.3764},
  '2021-03-29': {'USD': 1.3786},
  '2021-04-05': {'USD': 1.378},
  '2021-04-12': {'USD': 1.3771},
  '2021-04-19': {'USD': 1.3915},
  '2021-04-26': {'USD': 1.391},
  '2021-05-03': {'USD': 1.3888},
  '2021-05-10': {'USD': 1.4102},
  '2021-05-17': {'USD': 1.4156},
  '2021-05-24': {'USD': 1.4159},
  '2021-05-31': {'USD': 1.4164},
  '2021-06-07': {'USD': 1.4149},
  '2021-06-14': {'USD': 1.4022},
  '2021-06-21': {'USD': 1.3914},
  '2021-06-28': {'USD': 1.3828},
  '2021-07-05': {'USD': 1.3822},
  '2021-07-12': {'USD': 1.3854},
  '2021-07-19': {'USD': 1.369},
  '2021-07-26': {'USD': 1.388},
  '2021-08-02': {'USD': 1.3919},
  '2021-08-09': {'USD': 1.3851},
  '2021-08-16': {'USD': 1.3742},
  '2021-08-23': {'USD': 1.3712},
  '2021-08-30': {'USD': 1.3785},
  '2021-09-06': {'USD': 1.3822},
  '2021-09-13': {'USD': 1.3831},
  '2021-09-20': {'USD': 1.367},
  '2021-09-27': {'USD': 1.3552},
  '2021-10-04': {'USD': 1.3607},
  '2021-10-11': {'USD': 1.367},
  '2021-10-18': {'USD': 1.3784},
  '2021-10-25': {'USD': 1.3763},
  '2021-11-01': {'USD': 1.3603},
  '2021-11-08': {'USD': 1.348},
  '2021-11-15': {'USD': 1.345},
  '2021-11-22': {'USD': 1.3364},
  '2021-11-29': {'USD': 1.3316},
  '2021-12-06': {'USD': 1.3222},
  '2021-12-13': {'USD': 1.3281},
  '2021-12-20': {'USD': 1.3324},
  '2021-12-27': {'USD': 1.3457},
  '2022-01-03': {'USD': 1.3522},
  '2022-01-10': {'USD': 1.3645},
  '2022-01-17': {'USD': 1.3611},
  '2022-01-24': {'USD': 1.3447},
  '2022-01-31': {'USD': 1.3519},
  '2022-02-07': {'USD': 1.3557},
  '2022-02-14': {'USD': 1.3567},
  '2022-02-21': {'USD': 1.3505},
  '2022-02-28': {'USD': 1.3356},
  '2022-03-07': {'USD': 1.3138},
  '2022-03-14': {'USD': 1.309},
  '2022-03-21': {'USD': 1.3197},
  '2022-03-28': {'USD': 1.3131},
  '2022-04-04': {'USD': 1.3091},
  '2022-04-11': {'USD': 1.3039},
  '2022-04-18': {'USD': 1.2999},
  '2022-04-25': {'USD': 1.2598},
  '2022-05-02': {'USD': 1.2472},
  '2022-05-09': {'USD': 1.2296},
  '2022-05-16': {'USD': 1.2413},
  '2022-05-23': {'USD': 1.2555},
  '2022-05-30': {'USD': 1.2583},
  '2022-06-06': {'USD': 1.2516},
  '2022-06-13': {'USD': 1.2151},
  '2022-06-20': {'USD': 1.2256},
  '2022-06-27': {'USD': 1.2158},
  '2022-07-04': {'USD': 1.2001},
  '2022-07-11': {'USD': 1.1876},
  '2022-07-18': {'USD': 1.1967},
  '2022-07-25': {'USD': 1.2071},
  '2022-08-01': {'USD': 1.2173},
  '2022-08-08': {'USD': 1.2142},
  '2022-08-15': {'USD': 1.2015},
  '2022-08-22': {'USD': 1.1806},
  '2022-08-29': {'USD': 1.163},
  '2022-09-05': {'USD': 1.1522},
  '2022-09-12': {'USD': 1.1571},
  '2022-09-19': {'USD': 1.1307},
  '2022-09-26': {'USD': 1.0814},
  '2022-10-03': {'USD': 1.1274},
  '2022-10-10': {'USD': 1.1127},
  '2022-10-17': {'USD': 1.1236},
  '2022-10-24': {'USD': 1.1465},
  '2022-10-31': {'USD': 1.1408},
  '2022-11-07': {'USD': 1.1505},
  '2022-11-14': {'USD': 1.1858},
  '2022-11-21': {'USD': 1.1971},
  '2022-11-28': {'USD': 1.2114},
  '2022-12-05': {'USD': 1.2233},
  '2022-12-12': {'USD': 1.2287},
  '2022-12-19': {'USD': 1.2105},
  '2022-12-26': {'USD': 1.2041},
  '2023-01-02': {'USD': 1.1988},
  '2023-01-09': {'USD': 1.2146},
  '2023-01-16': {'USD': 1.23},
  '2023-01-23': {'USD': 1.2344},
  '2023-01-30': {'USD': 1.2315},
  '2023-02-06': {'USD': 1.208},
  '2023-02-13': {'USD': 1.207},
  '2023-02-20': {'USD': 1.2057},
  '2023-02-27': {'USD': 1.2017},
  '2023-03-06': {'USD': 1.1943},
  '2023-03-13': {'USD': 1.2121},
  '2023-03-20': {'USD': 1.2251},
  '2023-03-27': {'USD': 1.2327},
  '2023-04-03': {'USD': 1.2453},
  '2023-04-10': {'USD': 1.2462},
  '2023-04-17': {'USD': 1.2419},
  '2023-04-24': {'USD': 1.2459},
  '2023-05-01': {'USD': 1.2544},
  '2023-05-08': {'USD': 1.2595},
  '2023-05-15': {'USD': 1.2475},
  '2023-05-22': {'USD': 1.24},
  '2023-05-29': {'USD': 1.2427},
  '2023-06-05': {'USD': 1.2457},
  '2023-06-12': {'USD': 1.2653},
  '2023-06-19': {'USD': 1.2756},
  '2023-06-26': {'USD': 1.2685},
  '2023-07-03': {'USD': 1.2726},
  '2023-07-10': {'USD': 1.2956},
  '2023-07-17': {'USD': 1.2961},
  '2023-07-24': {'USD': 1.2881},
  '2023-07-31': {'USD': 1.2747},
  '2023-08-07': {'USD': 1.2736},
  '2023-08-14': {'USD': 1.2722},
  '2023-08-21': {'USD': 1.2684},
  '2023-08-28': {'USD': 1.2641},
  '2023-09-04': {'USD': 1.2538},
  '2023-09-11': {'USD': 1.2469},
  '2023-09-18': {'USD': 1.2339},
  '2023-09-25': {'USD': 1.2202},
  '2023-10-02': {'USD': 1.2141},
  '2023-10-09': {'USD': 1.224},
  '2023-10-16': {'USD': 1.2163},
  '2023-10-23': {'USD': 1.214},
  '2023-10-30': {'USD': 1.2186},
  '2023-11-06': {'USD': 1.2288},
  '2023-11-13': {'USD': 1.2368},
  '2023-11-20': {'USD': 1.2533},
  '2023-11-27': {'USD': 1.2647},
  '2023-12-04': {'USD': 1.2603},
  '2023-12-11': {'USD': 1.2625},
  '2023-12-18': {'USD': 1.2681},
  '2023-12-25': {'USD': 1.2741},
  '2024-01-01': {'USD': 1.2658},
  '2024-01-08': {'USD': 1.2729},
  '2024-01-15': {'USD': 1.2679},
  '2024-01-22': {'USD': 1.2732},
  '2024-01-29': {'USD': 1.2696},
  '2024-02-05': {'USD': 1.2593},
  '2024-02-12': {'USD': 1.2598},
  '2024-02-19': {'USD': 1.2641},
  '2024-02-26': {'USD': 1.2656},
  '2024-03-04': {'USD': 1.2732},
  '2024-03-11': {'USD': 1.2789},
  '2024-03-18': {'USD': 1.2695},
  '2024-03-25': {'USD': 1.2635},
  '2024-04-01': {'USD': 1.261},
  '2024-04-08': {'USD': 1.2603},
  '2024-04-15': {'USD': 1.246},
  '2024-04-22': {'USD': 1.2435},
  '2024-04-29': {'USD': 1.2535},
  '2024-05-06': {'USD': 1.2522},
  '2024-05-13': {'USD': 1.2608},
  '2024-05-20': {'USD': 1.2718},
  '2024-05-27': {'USD': 1.2742},
  '2024-06-03': {'USD': 1.2769},
  '2024-06-10': {'USD': 1.2736},
  '2024-06-17': {'USD': 1.268},
  '2024-06-24': {'USD': 1.266},
  '2024-07-01': {'USD': 1.2717},
  '2024-07-08': {'USD': 1.2856},
  '2024-07-15': {'USD': 1.2977},
  '2024-07-22': {'USD': 1.2902},
  '2024-07-29': {'USD': 1.2809},
  '2024-08-05': {'USD': 1.2725},
  '2024-08-12': {'USD': 1.2836},
  '2024-08-19': {'USD': 1.3045},
  '2024-08-26': {'USD': 1.3193},
  '2024-09-02': {'USD': 1.3141},
  '2024-09-09': {'USD': 1.3086},
  '2024-09-16': {'USD': 1.3244},
  '2024-09-23': {'USD': 1.3367},
  '2024-09-30': {'USD': 1.3258},
  '2024-10-07': {'USD': 1.3082},
  '2024-10-14': {'USD': 1.3045},
  '2024-10-21': {'USD': 1.2985},
  '2024-10-28': {'USD': 1.2977},
  '2024-11-04': {'USD': 1.2945},
  '2024-11-11': {'USD': 1.2758},
  '2024-11-18': {'USD': 1.2619},
  '2024-11-25': {'USD': 1.2633},
  '2024-12-02': {'USD': 1.2697},
  '2024-12-09': {'USD': 1.273},
  '2024-12-16': {'USD': 1.2641},
  '2024-12-23': {'USD': 1.2545},
  '2024-12-30': {'USD': 1.2486},
  '2025-01-06': {'USD': 1.2404},
  '2025-01-13': {'USD': 1.2175},
  '2025-01-20': {'USD': 1.2306},
  '2025-01-27': {'USD': 1.2445},
  '2025-02-03': {'USD': 1.2431},
  '2025-02-10': {'USD': 1.2456},
  '2025-02-17': {'USD': 1.2606},
  '2025-02-24': {'USD': 1.2646},
  '2025-03-03': {'USD': 1.2808},
  '2025-03-10': {'USD': 1.2935},
  '2025-03-17': {'USD': 1.2956},
  '2025-03-24': {'USD': 1.2938},
  '2025-03-31': {'USD': 1.2997},
  '2025-04-07': {'USD': 1.2878},
  '2025-04-14': {'USD': 1.3224},
  '2025-04-21': {'USD': 1.3322},
  '2025-04-28': {'USD': 1.3342},
  '2025-05-05': {'USD': 1.3328},
  '2025-05-12': {'USD': 1.3256},
  '2025-05-19': {'USD': 1.3408},
  '2025-05-26': {'USD': 1.3507},
  '2025-06-02': {'USD': 1.3534},
  '2025-06-09': {'USD': 1.3531},
  '2025-06-16': {'USD': 1.3507},
  '2025-06-23': {'USD': 1.3606},
  '2025-06-30': {'USD': 1.3682},
  '2025-07-07': {'USD': 1.3569},
  '2025-07-14': {'USD': 1.3436},
  '2025-07-21': {'USD': 1.35},
  '2025-07-28': {'USD': 1.3305},
  '2025-08-04': {'USD': 1.3347},
  '2025-08-11': {'USD': 1.3518},
  '2025-08-18': {'USD': 1.3481},
  '2025-08-25': {'USD': 1.3481},
  '2025-09-01': {'USD': 1.3449},
  '2025-09-08': {'USD': 1.3534},
  '2025-09-15': {'USD': 1.3599},
  '2025-09-22': {'USD': 1.3449},
  '2025-09-29': {'USD': 1.3455},
  '2025-10-06': {'USD': 1.338},
  '2025-10-13': {'USD': 1.3361},
  '2025-10-20': {'USD': 1.3354},
  '2025-10-27': {'USD': 1.3213},
  '2025-11-03': {'USD': 1.3092},
  '2025-11-10': {'USD': 1.3159},
  '2025-11-17': {'USD': 1.3118},
  '2025-11-24': {'USD': 1.318},
  '2025-12-01': {'USD': 1.3293},
  '2025-12-08': {'USD': 1.3345},
  '2025-12-15': {'USD': 1.3387},
  '2025-12-22': {'USD': 1.3481}}}

Now, extract the exchange rates and dates into separate lists (this is something you might do to plot the rate later on)\
The first 10 entries of rates and dates should be:


[1.3195,
 1.3096,
 1.3136,
 1.3115,
 1.3097,
 1.3027,
 1.3077,
 1.2973,
 1.2982,
 1.3004]\
 and\
['2020-01-02',
 '2020-01-03',
 '2020-01-06',
 '2020-01-07',
 '2020-01-08',
 '2020-01-09',
 '2020-01-10',
 '2020-01-13',
 '2020-01-14',
 '2020-01-15']\
 respectively

In [200]:
# Write your code here
rates= []
dates= []
for rate in ratedata['rates'].values():
    rates.append(rate)
for date in ratedata['rates'].keys():
    dates.append(date)
display(rates[:10])
display(dates[:10])

[{'USD': 1.3165},
 {'USD': 1.309},
 {'USD': 1.3016},
 {'USD': 1.3083},
 {'USD': 1.3062},
 {'USD': 1.3008},
 {'USD': 1.2983},
 {'USD': 1.2968},
 {'USD': 1.2911},
 {'USD': 1.2853}]

['2019-12-30',
 '2020-01-06',
 '2020-01-13',
 '2020-01-20',
 '2020-01-27',
 '2020-02-03',
 '2020-02-10',
 '2020-02-17',
 '2020-02-24',
 '2020-03-02']

Now just test a simple __post__ REST api with some dummy data.

See what you get by posting the data foo='bar' to https://jsonplaceholder.typicode.com/posts \
Print out the content of the response and load it into an appropriate variable

In [ ]:
# Write your code here
url = https://jsonplaceholder.typicode.com/posts

# 6.7 Data considerations
For this exercise we are going to fetch an html document from an online source, inspect it and manipulate it a bit before we convert it to csv and save it to a file.  
This is an *advanced exercise* and the number of code cells below reflects a relatively short solution to this. You might want to add more cells and consider using a longer solution

The online source is here: http://cs.stir.ac.uk/~soh/fakedata.html  
Start by looking at it in a browser and use your browser's tools to inspect the source (the html)  
Then load it here into an appropriate variable

*hint: html is xml's cousin so you can use xml.etree.ElementTree

In [ ]:
# Write your code here

Now list the column headers

In [ ]:
# Write your code here

There is a column named __Country__, how many unique countries are represented in the data?

In [ ]:
# Write your code here

How many representatives of each country are there?

In [ ]:
# Write your code here

#### Now write the data to a csv formatted file called __fakedata.csv__
- Skip __Org__ (i.e. don't write it to the new file)
- Clean up the __Phonenumbers__ so that they only contain numbers (no other characters or whitespaces)
- Only write the last names of the people (the original format is: last name, first name and intital)
- The first line of the csv file should contain the header

The first 3 lines of the resulting file should be like the following
```
Name,Phone,Email,City,Country
Suarez,0800629223,sociis.natoque@egetmetus.com,Croydon,Portugal
Wallace,01079136814,hendrerit.id@semper.net,Pealoln,Suriname
```

In [ ]:
# Write your code here