# Session 3 Exercises Notebook

Each time you are given a programming exercise in session 3, you should complete it in this notebook. The sections are numbered and the instructions are given here in the notebook.

## 3.3 Lists

## Creating a list
In the box below, write the Python code to create a list containing 10 types of animals. We will use this list for manipulation in the rest of this exercise.

In [108]:
animals_list = ["hyena", "tiger", "chicken", "elephant", "dog", "cat", "snake", "bird", "donkey", "monkey"]
print(animals_list)

['hyena', 'tiger', 'chicken', 'elephant', 'dog', 'cat', 'snake', 'bird', 'donkey', 'monkey']

###Indexing - In this section, you will access data in your list via indexing in a number of ways.

Try printing the second item in the list of animals. Check to make sure the output is what you expected.

In [87]:
#expected animal is tiger
print(animals_list[1])

tiger

Print the entire list, except the first and last elements.

In [85]:
print(animals_list[1:-1])

['tiger', 'chicken', 'elephant', 'dog', 'cat', 'snake', 'bird', 'donkey']

Choose one of the animal names on your list and programmatically find and print its index.

In [88]:
animals_list.index("tiger")

1

Change the animal found at index 3 to "lion" and print the list to see if it worked.

In [89]:
animals_list.insert(3,"lion")
print(animals_list)

['hyena', 'tiger', 'chicken', 'lion', 'elephant', 'dog', 'cat', 'snake', 'bird', 'donkey', 'monkey']

Print animals at indexes 0,2,4,6,8 in the list - this might seem a little trickier, but remember that you can index in steps!

In [90]:
print(animals_list[:10:2])

['hyena', 'chicken', 'elephant', 'cat', 'bird']

## Adding and Removing items from your list

Add another animal to the end of your list.

In [91]:
animals_list.append("eagle")

Add another animal to your list, but this time, add it at the second index.

In [92]:
animals_list.insert(2,"zebra")

Create a new list containing 3 new animals and add it to the end of your original list.

In [98]:
animals_list.extend(["cheetah", "deer", "bear"])
print(animals_list)

['tiger', 'zebra', 'eagle', 'cheetah', 'deer', 'bear', 'cheetah', 'deer', 'bear']

Remove one of the animals by index, and remove another by value.

In [109]:
animals_list.remove("hyena")
animals_list.pop(2)
print(animals_list)

['tiger', 'chicken', 'dog', 'cat', 'snake', 'bird', 'donkey', 'monkey']

Remove the first two animals using a slice.

In [110]:
del animals_list[2:6]
print(animals_list)

['tiger', 'chicken', 'donkey', 'monkey']

## 3.4 Tuples


Create a tuple and a list containing `1,2,3,4`
See what happens if you add an element with the value `2` to each of them. As you won't be able to update the tuple, you will need to create a new one with `(1,2,2,3,4)`.

In [117]:
list1 = [1, 2, 3, 4]
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 2, 3, 4)
list1.append(2)
print(list1)
print(tuple1)
print(tuple2)

[1, 2, 3, 4, 2]
(1, 2, 3, 4)
(1, 2, 2, 3, 4)

Create a new tuple called tuple_a containing 5,2,3,7 and another tuple caled tuple_b containing 6,21,2. Create a new variable that contains the sum of the first value in tuple_a, and the last value of tuple_b.

In [118]:
tuple_a = (5, 2, 3, 7)
tuple_b = (6, 21, 2)
tuple3 = tuple_a[0] + tuple_b[-1]
print(tuple3)

7

Data structures in python can be 'nested'. This means that each item in a tuple can be another tuple. Try making a new tuple called tuple_c that contains tuple_a and tuple_b as its elements.

In [120]:
tuple_c = tuple_a + tuple_b
print(tuple_c)

(5, 2, 3, 7, 6, 21, 2)

Using referencing, access "dog" in the following nested tuple

In [121]:
pets = (("cat","dog","rabbit"),(200,500,35))

In [132]:
print(pets[0][1])

dog

Create a new *list* containing 3 *tuples*. Each tuple should represent a record of book - each record should consist of a title, author, and publisher.

In [150]:
books = [("To Kill a Mockingbird", "Harper Lee", "J.B. Lippincott"), ("The Great Gatsby", "F. Scott Fitzgerald", "Charles Scribner’s Sons"), ("The Hobbit", "J.R.R. Tolkien", 
"George Allen & Unwin")]
print(books)

[('To Kill a Mockingbird', 'Harper Lee', 'J.B. Lippincott'), ('The Great Gatsby', 'F. Scott Fitzgerald', 'Charles Scribner’s Sons'), ('The Hobbit', 'J.R.R. Tolkien', 'George Allen & Unwin')]

Now, try removing the second book, and a new one. Did it work? Why?

In [151]:
books.pop(1)
books.append(("Brave New World", "Aldous Huxley", "Chatto & Windus"))
print(books)

[('To Kill a Mockingbird', 'Harper Lee', 'J.B. Lippincott'), ('The Hobbit', 'J.R.R. Tolkien', 'George Allen & Unwin'), ('Brave New World', 'Aldous Huxley', 'Chatto & Windus')]

 Given that the entries are a tuples, you can't alter the title of the last book. Instead, you will have to replace it with a new one. Try this below.

In [149]:
books.pop(-1)
books.append(("Brave New World", "Aldous Huxley", "Chatto & Windus"))
print(books)

[('To Kill a Mockingbird', 'Harper Lee', 'J.B. Lippincott'), ('The Hobbit', 'J.R.R. Tolkien', 'George Allen & Unwin'), ('Brave New World', 'Aldous Huxley', 'Chatto & Windus')]

## 3.5 Sets

Define two sets. The first should contain the values 'Cat', 'Dog', 'Pig', 'Cow' and the second should contain the values 'Cat', 'Cow', 'Rat', 'Fish'.

In [168]:
set_a = {'Cat', 'Dog', 'Pig', 'Cow'}
set_b = { 'Cat', 'Cow', 'Rat', 'Fish'}

Combine these two sets into one set, so that it only contains unique values.

In [169]:
print(set_a.union(set_b))

{'Dog', 'Cat', 'Rat', 'Pig', 'Fish', 'Cow'}

Now create another set that contains only the values that exist in both sets.

In [170]:
print(set_a.intersection(set_b))

{'Cow', 'Cat'}


Remove 'Cat' from the first set and then add 'Goat'.

In [171]:
set_a.remove("Cat")
set_a.add("Goat")
set_a

{'Cow', 'Dog', 'Goat', 'Pig'}

Calculate the new intersection between the updated first set, and the second set. What is the intersection now? Why has it changed?

In [172]:
print(set_a.intersection(set_b))

{'Cow'}

# 3.6 Dictionaries

Create a dictionary object that represents the data that you might record from a single customer making a purchase in a store. This should include their first name, second name, age, and a list of products they have purchased. Each one of these products should be another dictionary containing the name of the product  and price they paid for it. Make up keys and values as you like, and include at least 3 products.

In [231]:
customer_info = {
    "firs_name" : "Muniir",
    "second_name" : "Ahmed",
    "age" : 20,
    "products_purchased" :
    [
        {"product" : "milk", "price" : 2},
        {"product" : "tea" , "price" : 3.4},
        {"product" : "sugar", "price" : 4.7}
    ]
}

Print all the keys in the customer's record

In [211]:
print(customer_info.keys())

dict_keys(['firs_name', 'second_name', 'age', 'products_purchased'])

Print all the values in the customer's record

In [212]:
print(customer_info.values())

dict_values(['Muniir', 'Ahmed', 20, [{'product': 'milk', 'price': 2}, {'product': 'tea', 'price': 3.4}, {'product': 'sugar', 'price': 4.7}]])

Print the names of each product that they purchased.

In [217]:
print(customer_info["products_purchased"][0]["product"])
print(customer_info["products_purchased"][1]["product"])
print(customer_info["products_purchased"][2]["product"])

milk
tea
sugar

Create a new variable containing the customer's total bill.

In [205]:
bill =  products_list.values()
#total_bill = bill[0] + bill[1]
print(type(bill))

<class 'dict_values'>


Add a new field to contain the customers phone number and remove the entry containing the customers age

In [232]:
customer_info.pop("age")
customer_info.update({"phone number": 4347463})
print(customer_info)

{'firs_name': 'Muniir', 'second_name': 'Ahmed', 'products_purchased': [{'product': 'milk', 'price': 2}, {'product': 'tea', 'price': 3.4}, {'product': 'sugar', 'price': 4.7}], 'phone number': 4347463}

## 3.7 Choosing the right structure

In the following examples, describe which data structure you would use, and if nesting different types of structures would be more appropriate. Elaborate on your choices.

### 3.7.1 - Grocery Store Inventory
You are a small grocery store owner, and you want to record all of your stock. You sell 100 types of products, with names, suppliers, etc. You also need to keep a record of how much you paid for your produce, and how many you have left in stock.

---Enter your answer here---

### 3.7.2 - Digital Encyclopedia
 You have been asked to make an encyclopedia where customers can look up a key word and find the encylopedia entry that describes it.

---Enter your answer here---

### 3.7.3 - Bird Watching Diary
You are a very keen bird watcher and want to keep a record of which birds you have seen. You want to keep a record of each species, and each unique location you have seen it.

---Enter your answer here---

### 3.7.4 - Family Tree

  You have been tasked with creating a data structure that contains a customer's family tree. Each record should contain a person's name, date of birth, and the person's parents, siblings, and children.

---Enter your answer here---