# ITNPBD2 Practical exercises. Session 4 Loops, Conditionals and Comprehension

By the end of this session, you will be able to:
- Write code to execute looping in Python
- Use conditional statements to control program flow
- Iterate over iterable structures to process their contents one at a time
- Use list and set comprehension to process whole data structures

# 4.3 Conditionals

### Simple conditions
Experiment with the 8 comparison operators "<, <=, ==, >=, >, !=, is, and is not"

Print out the outcome of each of the operators for __a op b__

where a = 10 and b = 9

Then mix it up and experiement __at will__ by flipping a and be and also creating your own variables

In [17]:
a = 10
b = 9
c = False
d = 0

print(a > b)
print(a < b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)
print(a is b)
print(a is not b)
print(c == d)
print(c is d)

# write your code here

True
False
False
True
False
True
False
True
True
False

### and/or conditions

Write these three sentences as programmatical conditions  
Start by defining a, b, and c as you like.  
write each conditional in a single print statement, so it prints either True or False

1. a is both greater than b and at least greate than c but it can also be equal to c
2. c is at least equal to a-b, otherwise it should be less than b
3. b is equal to how much greater c is or both c is equal to a plus b while b is not greater than a

** bonus, can you find a, b, and c such that all three conditions are true?

In [48]:
# write your code here
a = 9
b = 5
c = 8
print(b < a and a >= c)
print(a-b <= c and c < b )
print((b == c-b) or ((c == a + b ) and (b < a)))

True
False
False

# if statements
Imagine that you have a list of people's names along with their start date and end date of a particular course. Each person is represented as a dictionary, like this:
<code>{'name':'Saemi','start':12345,'end':12456}</code>  
where the start and end dates are represented as the integer value of a date (*this is actually how most software deals with dates and time, i.e. as integers*)

Your task is to implement an if statement that sorts people into 4 possible bins:
- __Bin 1__: People that started before date/time 12345 and ended before 12456
- __Bin 2__: People that started before date/time 12345 and ended before 12456 with names that begin with 'S'
- __Bin 3__: People that started between date/time 12345 and 12456 (not inclusive) with names that begin with a letter before 'F' in the alpahbet.
- __Bin 4__: And everyone else

You are only supposed to implement the if statement as if it where only evaluating the conditions on a single person at a time. No loops involed nor actual lists at this time.

Couple of assumptions:<br>
Assume names are always capitalised and that dates are always represented as integers as in: (2nd January 2020) == (1st January 2020 + 1)

**hint: there's no 1 correct solution and depending on your conditions, their order might matter  
**hint 2: determine the boundary values and test your implementation for each. Just change the values and rerun the cell

In [73]:
# Assume you are only implementing a functionality that can determine what bin this person belongs to
# and change the values (not the keys) to test different cases
person = {'name':'Eaemi','start':12349,'end':12455}
bins = {'Bin 1':[], 'Bin 2':[], 'Bin 3':[], 'Bin 4':[]}

# Implement your if statement so that it determins the value of a variable called what_bin
# Put your code here
date_started = person.get('start')
print(date_started)
date_ended = person.get('end')
print(date_ended)
if person['name'].startswith('S') and (date_started < 12345 and date_ended < 12456):
    what_bin = 'Bin 2'
elif date_started < 12345 and date_ended < 12456:
    what_bin = 'Bin 1'
elif (12345 <= date_started < 12456) and person['name'][0]<'F':
    what_bin = 'Bin 3'
else:
     what_bin = 'Bin 4'
# Uncomment the following line to see if the person went into the correct bin
bins[what_bin].append(person)
print(bins)

12349
12455
{'Bin 1': [], 'Bin 2': [], 'Bin 3': [{'name': 'Eaemi', 'start': 12349, 'end': 12455}], 'Bin 4': []}

Finish the code in the next cell to implement naive __halfing machine__  
it should check if the value of the user's input is an even number and assign the variable *half* with either the half of the value or the string "It was not an even number"

*hint: The modulo operator (%) returns 1 or 0, for example 4%2=0 and 7%2=1

*In this exercise we are using the __input__ statement to get user's input  
If you are unaware of the input statement, have a look at its description here: https://www.w3schools.com/python/python_user_input.asp*

In [83]:
val = input('What number? ')
val = int(val)

# write your code here
if (val%2 == 0):
    half = val/2
else:
    half = "It was not an even number"
print(half)

What number?  7

It was not an even number

### Can you condense the cell above into 2 lines?
use the shorthand if/else

In [100]:
# write your code here
val = int(input('What number? '))
print("It was not an even number" if val%2 else val/2)

What number?  6

3.0

### Now make sure that the input is actually numbers and take appropriate action if not
You don't need to continue with the shorthand form

*hint: String variables implement the _.isdigit()_ function

In [107]:
# write your code here
val = input('What number? ')
if val.isdigit():
    val = int(val)
    print("It was not an even number" if val%2 else val/2)
else:
    print("That was not a valid number")

What number?  6

3.0

## Create a lookup script for people and their phone number
This is a list of random people and their internal phone numbers:
- Randy: 1234
- Eve: 4321
- Oscar: 9876
- Jane: 4567

The script asks for a name and it should print the name and the correct phone number

### First implement it by only using only if, elif, and else

What name are you looking for?  Eve

4321

### Now account for names that are not on the list

In [ ]:
search = input('What name are you looking for? ')
# write your code here

### Making it maintainable
Now you have a longer list of names in a dictionary, use that to make your code more concise.\
Make sure that there are no errors if the search term is not found.

*Use if/else and remember the "__in__" operator for sequences like lists and dictionaries

In [144]:
phonebook = {'Randy': 1234,'Eve': 4321,'Oscar': 9876,'Jane': 4567,'Greta': 3827,'Harry': 6754}
search = input('What name are you looking for? ')
if search in phonebook:
    print(phonebook.get(search))
else:
    print("not in the list")

What name are you looking for?  harry

not in the list

### Can you make it  a one-liner?
Can you convert your solution above into a one-liner, excluding the *input* statement?

In [149]:
# write your code here
phonebook = {'Randy': 1234,'Eve': 4321,'Oscar': 9876,'Jane': 4567,'Greta': 3827,'Harry': 6754}
search = input('What name are you looking for? ')
print(phonebook.get(search)) if search in phonebook else print("not in the list")
#print(f'{search} -- {phonebook.get(search,"was not found")}')
# This is more readable with just one lookup

What name are you looking for?  t

not in the list

# 4.4 For loops

Write a loop that iterates through the following list of names and prints them along with their length

the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']

The first line printed out should be:\
*Randy has 5 characters*

In [157]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
for names in the_names:
    print(f'{names} has ', len(names), 'characters')

Randy has  5 characters
Eve has  3 characters
Oscar has  5 characters
Jane has  4 characters
Greta has  5 characters
Harry has  5 characters
Saemundur has  9 characters
Kevin has  5 characters
Alexander has  9 characters
Jason has  5 characters
Joe has  3 characters
Sue has  3 characters

#### With the same list, only print out the names that are _longer than 4 characters_

In [159]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
for names in the_names:
    if len(names) > 4:
        print(f'{names} is longer than 4 characters')

Randy is longer than 4 characters
Oscar is longer than 4 characters
Greta is longer than 4 characters
Harry is longer than 4 characters
Saemundur is longer than 4 characters
Kevin is longer than 4 characters
Alexander is longer than 4 characters
Jason is longer than 4 characters

#### Now, again with the same list of names, for every name that is shorter than 5 charachters print each character on separate lines

The first name should be printed like this:\
R\
a\
n\
d\
y

In [167]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
for names in the_names:
    if len(names) < 5:
        for letter in names:
            print(letter)

E
v
e
J
a
n
e
J
o
e
S
u
e

#### Once again, you have the list of names and now also a corresponding list of their associated department abbreviation

the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
the_dep = ['CSM','PSY','BES','AQU','BES','PSY','CSM','CSM','AQU','CSM','PSY','AQU']

For example, according to this, Randy is in CSM and Eve is in PSY.

Use a for loop and the zip function to print out each name and department\
The first line should be:\
Randy is in CSM

In [169]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
the_dep = ['CSM','PSY','BES','AQU','BES','PSY','CSM','CSM','AQU','CSM','PSY','AQU']
for names,depertment in zip(the_names,the_dep):
    print(f'{names} is in {depertment}')

Randy is in CSM
Eve is in PSY
Oscar is in BES
Jane is in AQU
Greta is in BES
Harry is in PSY
Saemundur is in CSM
Kevin is in CSM
Alexander is in AQU
Jason is in CSM
Joe is in PSY
Sue is in AQU

#### Continuing with the names and departments, _only_ print out those in CSM and PSY

In [195]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
the_dep = ['CSM','PSY','BES','AQU','BES','PSY','CSM','CSM','AQU','CSM','PSY','AQU']
for names,department in zip(the_names,the_dep):
        if department in ['CSM','PSY']:
            print(f'{names} is in {department}')

Randy is in CSM
Eve is in PSY
Harry is in PSY
Saemundur is in CSM
Kevin is in CSM
Jason is in CSM
Joe is in PSY

#### Use _range_ to print out the first name and department and every third name and department after that.
So, the first 2 lines printed out should be:\
Randy is in CSM\
Jane is in AQU

*hint: if X%3 equals 0 then X can be divided by 3

In [205]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
the_dep = ['CSM','PSY','BES','AQU','BES','PSY','CSM','CSM','AQU','CSM','PSY','AQU']
for i in range(0, len(the_dep),3):
    print(the_names[i],the_dep[i])

Randy CSM
Jane AQU
Saemundur CSM
Jason CSM

#### Do the same as above but this time use _enumerate_ and not _range_

In [217]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
the_dep = ['CSM','PSY','BES','AQU','BES','PSY','CSM','CSM','AQU','CSM','PSY','AQU']
for i, (name, department) in enumerate(zip(the_names,the_dep)):
    if i%3 == 0: #every third item
        print(i, name, department)

0 Randy CSM
3 Jane AQU
6 Saemundur CSM
9 Jason CSM

#### Repeat the same as above but this time, stop the iteration when a name starts with the letter S
Don't print out the name that starts with _S_

*hint: string implements the function __.startswith()__

In [221]:
# write your code here
the_names = ['Randy','Eve','Oscar','Jane','Greta','Harry','Saemundur','Kevin','Alexander','Jason','Joe','Sue']
the_dep = ['CSM','PSY','BES','AQU','BES','PSY','CSM','CSM','AQU','CSM','PSY','AQU']
for i, (name, department) in enumerate(zip(the_names,the_dep)):
    if i%3 == 0: #every third item
        if name.startswith('S'):
            continue;
        print(f'{name} is in {department}')

Randy is in CSM
Jane is in AQU
Jason is in CSM

### Infinite series
Use a __for__ loop to print out a special infinite series.

The series starts with the number 2 and every consecutive number is the previous number multiplied by 2.
So the first 7 numbers are:\
2\
4\
8\
16\
32\
64\
128

Implement the loop such that you can define a maximum number so that the loop is not infinite and use __break__ to terminate it when the next number in the series exceeds the maximum.\
Start by defining max_num = 200000000

__Don't use range__\
*hint: When iterating over a sequence, what should you preferably not do with the sequence inside the loop?

In [246]:
# write your code here
max_num = 200000000
numbers = [2]
for current in numbers:
    if current >= max_num:
        break
    numbers.append(current*2)
    print(current)

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288
1048576
2097152
4194304
8388608
16777216
33554432
67108864
134217728

#### Change the loop above so that it doesn't print out the numbers that have 6 as the last digit

*hint: X%10 returns the last digit of a number

In [300]:
# write your code here
max_num = 200000000
numbers = [2]
for current in numbers:
    if current >= max_num:
        break
    numbers.append(current*2)
    if current%10 == 6:
        continue
    print(current)

2
4
8
32
64
128
512
1024
2048
8192
16384
32768
131072
262144
524288
2097152
4194304
8388608
33554432
67108864
134217728

#### Can you change the loop so it uses range now?

In [266]:
# write your code here
# write your code here
max_num = 200000001
current = 2
for i in range(2, max_num):
    if current%10 != 6:
        print(current)
    current = current*2
    if current >= max_num:
        break

2
4
8
32
64
128
512
1024
2048
8192
16384
32768
131072
262144
524288
2097152
4194304
8388608
33554432
67108864
134217728

# Prime numbers
Write a loop that prints out all the prime numbers between 1 and 100.

A prime number is only divisable by itself and 1\
For any given number __n__, if you cannot find a number __x__ in the range(2,n) such that n%x=0 then n is a prime number.

*hint: For loops have an __else__ clause for when they're able to finish the sequence

In [280]:
# write your code here
for n in range(1,101):
    for x in range(2,n):
        if n%x==0:
            break
    else:
        print(n)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# 4.5 While loops

### Implement a while loop that reports the temperature drop in a cup of tea

The tea temperature should start at 100°C and drops by 1°C every iteration.\
While the temperature is over 84°C it is too hot to drink.\
The loop should just print out the temperature and inform that the tea is too hot until it is not.

The first 3 lines printed should be:\
100°C is still too hot\
99°C is still too hot\
98°C is still too hot

And the last line should be:\
84°C is cool enough to drink

In [299]:
# write your code here
i = 100
while i > 84:
    print(i, 'still too hot')
    i-=1
print(f'{i} good to drink')

100 still too hot
99 still too hot
98 still too hot
97 still too hot
96 still too hot
95 still too hot
94 still too hot
93 still too hot
92 still too hot
91 still too hot
90 still too hot
89 still too hot
88 still too hot
87 still too hot
86 still too hot
85 still too hot
84 good to drink

### The inifinte series revisited

Use a while loop to implement the inifinite series from the for loop exercise.\
Again exclude the numbers that have 6 as their last digit.

In [326]:
# write your code here
max_num = 200000000
current = 2
while current <= max_num:
    if current%10 != 6:
        print(current)
    current = current*2

2
4
8
32
64
128
512
1024
2048
8192
16384
32768
131072
262144
524288
2097152
4194304
8388608
33554432
67108864
134217728

### What is the answer to Life, the Universe and Everything?
Use a while loop to implement a script that asks the user the question in the title.\
It should 
- keep on asking until it gets the correct answer (42).
- inform the user if the answer is incorrect (e.g., print out: "Nope, that is not it")
- inform the user if the answer is correct (e.g., print out: "Correct, you're awesome!"

In [374]:
# write your code here
while True:
    answer = input()
    if answer.strip().isdigit() and int(answer) == 42:
        print("Correct, you're awesome!")
        break
    print("Nope, that is not it")

 6

Nope, that is not it

 t

Nope, that is not it

 6

Nope, that is not it

 42

Correct, you're awesome!

### Add a maximum number of attempts
Now change the loop above so that it only gives the user 3 attempts to answer and informs them when they exceeded the attempts.

*hint: while loops can have an __else__ clause for when the condition is not true

In [384]:
#### write your code here
i =0
while i<3:
    answer = input()
    if answer.strip().isdigit() and int(answer) == 42:
        print("Correct, you're awesome!")
        break
    print("Nope, that is not it")
    i +=1
else:
    print('Sorry! you run out of attempts')

  42

Nope, that is not it

 42

Correct, you're awesome!

# 4.6 Comprehensions

### Here is a list of names
the_names = ['Randy Quaid','Eve Short','Oscar Wilde','Jane Goodman',
             'Greta Sanderson','Harry Stiles','Saemundur Haraldsson',
             'Kevin Swingler','Alexander James','Jason Adair','Joe Dirt','Sue Heck']
### Use a list comprehension to create a list of only first names

*hint: what does .split() without an argument do?

In [416]:
# write your code here
the_names = ['Randy Quaid','Eve Short','Oscar Wilde','Jane Goodman', 'Greta Sanderson','Harry Stiles','Saemundur Haraldsson', 'Kevin Swingler','Alexander James','Jason Adair','Joe Dirt','Sue Heck']
comp_list = [person.split()[0] for person in the_names]
print(comp_list)

['Randy', 'Eve', 'Oscar', 'Jane', 'Greta', 'Harry', 'Saemundur', 'Kevin', 'Alexander', 'Jason', 'Joe', 'Sue']

#### Now use a comprehension to create a dictionary where the last names are the keys and first names are the values

*hint: .split() returns a tuple

In [421]:
# write your code here
the_names = ['Randy Quaid','Eve Short','Oscar Wilde','Jane Goodman', 'Greta Sanderson','Harry Stiles','Saemundur Haraldsson', 'Kevin Swingler','Alexander James','Jason Adair','Joe Dirt','Sue Heck']
first_names = [person.split()[0] for person in the_names]
second_names = [person.split()[1] for person in the_names]
combined_names = dict(zip(second_names, first_names,))
print(combined_names)

{'Quaid': 'Randy', 'Short': 'Eve', 'Wilde': 'Oscar', 'Goodman': 'Jane', 'Sanderson': 'Greta', 'Stiles': 'Harry', 'Haraldsson': 'Saemundur', 'Swingler': 'Kevin', 'James': 'Alexander', 'Adair': 'Jason', 'Dirt': 'Joe', 'Heck': 'Sue'}

#### Now create a list of first names that begin with __S__ only

In [437]:
# write your code here
the_names = ['Randy Quaid','Eve Short','Oscar Wilde','Jane Goodman', 'Greta Sanderson','Harry Stiles','Saemundur Haraldsson', 'Kevin Swingler','Alexander James','Jason Adair','Joe Dirt','Sue Heck']
first_names = [person.split()[0] for person in the_names]
second_names = [person.split()[1] for person in the_names]
combined_names = dict(zip(second_names, first_names,))
starts_S = [name for name in first_names if name.startswith('S')]
print(starts_S)

['Saemundur', 'Sue']

#### From the list of names create a list of unique characters

Treat R and r as the same

*hint: Remember how to flatten a list with comprehension\
*hint: .lower()

In [453]:
# write your code here
the_names = ['Randy Quaid','Eve Short','Oscar Wilde','Jane Goodman', 'Greta Sanderson','Harry Stiles','Saemundur Haraldsson', 'Kevin Swingler','Alexander James','Jason Adair','Joe Dirt','Sue Heck']
unique_names = set(chracter.lower() for name in the_names for chracter in name if chracter != ' ')
print(unique_names)

{'o', 'd', 'w', 'c', 'e', 'h', 'm', 'q', 'l', 'v', 'g', 't', 'r', 'k', 'i', 'u', 'a', 'j', 'n', 'x', 's', 'y'}

### Use a comprehension to create a list of prime numbers between 1 and 100


*hint: The function __any__ returns true if any element in a sequence is true

In [492]:
# write your code here
prime_numbers = [n for n in range(2,100) if not any([n%x==0 for x in range(2,n)])]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]